<div class="dashboardv1">
  <!-- Sidebar -->
  <app-system-sidebar></app-system-sidebar>
  <main class="stickyHeader">
    <!-- Header -->
    <app-system-header></app-system-header>
    <!-- Dynamic Content Goes Here -->
    <router-outlet></router-outlet>
  </main>
</div>
