<div *ngIf="currentUser.getModel().currentMenu">
  <h6 class="text-black font-bold">
    {{ currentUser.getModel().currentMenu.menuname | englocal: currentUser.getModel().currentMenu.menunamelocal }}
    ({{currentUser.getModel().currentMenu.menucode | engToNepNumbers}})
    {{  this.titleService.init(currentUser.getModel().currentMenu.menuname | englocal: currentUser.getModel().currentMenu.menunamelocal)}}
  </h6>
</div>
