<div class="login-wrapper">
  <div class="login-container">
    <div class="login-card">

      <img [src]="this.currentUser.getCurrentCompany() && this.currentUser.getCurrentCompany()['fullLogo']?
        this.currentUser.getCurrentCompany()['fullLogo']:environment.defaultImagePath"/>

      <h6 class="login-heading text-center mt-2">
        {{ environment.defaultCompany | translate }}
      </h6>

      <div class="card card_rounded p-4 mt-4">
        <!--        <h6 class="login-heading text-center mb-4">सिस्टम लग - इन</h6>-->
        <h6 class="login-heading text-center mb-4">
          {{ "login" | translate }}
        </h6>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div *ngIf="noBranchMessage && !hasHttpError" class="alert alert-danger">
            <strong>{{'note' | translate}}!</strong> {{ noBranchMessage | translate}}
          </div>
          <div *ngIf="noDepartmentMessage && !hasHttpError" class="alert alert-danger">
            <strong>{{'note' | translate}}!</strong> {{ noDepartmentMessage}}

          </div>
          <ng-template [ngIf]="hasHttpError">
            <div class="alert alert-danger d-flex" role="alert">
              <span class="icon ic-error mr-2 mt-1"></span>
              <div>{{ httpErrorMessage }}<br/></div>
            </div>
          </ng-template>

          <div class="form-group mb-3">
            <label for="username" class="text-navy-40">{{
              "usernameOrEmail" | translate
              }}</label>
            <input
              type="text"
              id="username"
              class="form-control"
              name="username"
              formControlName="username"
              placeholder="{{ 'usernameOrEmail' | translate }}"
              value=""
              autocomplete="off"
            />
            <span
              class="error"
              *ngIf="checkFormControlInvalid('username', loginForm)"
            >
              <i class="ic-error"> </i>
              {{ "usernameOrEmailValidataion" | translate }}
            </span>
          </div>

          <div class="form-group mb-1">
            <label for="password" class="text-navy-40">{{
              "password" | translate
              }}</label>
            <div class="form-control-icon rft">
              <input
                #passwordInput
                type="password"
                id="password"
                class="form-control"
                name="password"
                formControlName="password"
                placeholder="{{ 'password' | translate }}"
                value=""
                autocomplete="off"
              />
              <a
                class="ic-visible viewPassword"
                (click)="
                  passwordInput.type == 'password'
                    ? (passwordInput.type = 'text')
                    : (passwordInput.type = 'password')
                "
              ></a>
            </div>
            <span
              class="error"
              *ngIf="checkFormControlInvalid('password', loginForm)"
            >
              <i class="ic-error"> </i>
              {{ "passwordValidataion" | translate }}
            </span>
          </div>
          <div class="text-right mb-3">
            <a
              class="small link-hover-info"
              [routerLink]="['/auth/forgot-password']"
              style="cursor: pointer"
            >
              {{ "forgotPwd" | translate }} ?</a
            >
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block text-white">
              {{ "login" | translate }}
            </button>
          </div>

          <p class="mt-3">
            {{ "changeLanguage" | translate }}:
            <a
              *ngIf="translate.currentLang == 'en'"
              class="btn p-0 text-primary des"
              (click)="useLanguage('np')"
            >नेपा</a
            >
            <a
              *ngIf="translate.currentLang == 'np'"
              class="btn p-0 text-primary des"
              (click)="useLanguage('en')"
            >EN</a
            >
          </p>
          <p class="mt-3">
            Powered by:
            <a href="https://infodev.com.np/" target="_blank"
            >InfoDevelopers Pvt. Ltd.</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid login-wrapper">-->
<!--  <div class=" d-flex h-100 align-items-center justify-content-center">-->
<!--    <div class="row login-box">-->
<!--      <div class="col-lg-5 login-box-left d-none d-lg-block">-->
<!--        <h5 class="font-weight-normal mb-4">{{'welcomeTo'}}</h5>-->
<!--        <h5 class="font-bold login-box-text">{{ "projectTitle" | translate }}</h5>-->
<!--      </div>-->
<!--      <div class="col-lg-7 login-box-right">-->
<!--        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--          <div class="logo-box">-->
<!--            <img [src]="environment.defaultImagePath" [alt]="environment.defaultImagePath" height="76"/>-->
<!--          </div>-->

<!--          <h5 class="mb-4 text-navy-40 font-bold"> {{ "login" | translate }}</h5>-->
<!--          <div *ngIf="noBranchMessage && !hasHttpError" class="alert alert-danger">-->
<!--            <strong>{{'warning' | translate}}!</strong> {{ noBranchMessage | translate}}-->
<!--          </div>-->
<!--          <div *ngIf="noDepartmentMessage && !hasHttpError" class="alert alert-danger">-->
<!--            <strong>{{'warning' | translate}}!</strong> {{ noDepartmentMessage}}-->
<!--          </div>-->
<!--          <ng-template [ngIf]="hasHttpError">-->
<!--            <div class="alert alert-danger d-flex" role="alert">-->
<!--              <span class="icon ic-error mr-2 mt-1"></span>-->
<!--              <div>{{ httpErrorMessage }}<br></div>-->
<!--            </div>-->
<!--          </ng-template>-->

<!--          <div class="form-group">-->
<!--            <label for="username" class="text-navy-40">{{ 'usernameOrEmail' | translate }}</label>-->
<!--            <input type="text" id="username" class="form-control" name="username" formControlName="username"-->
<!--                   placeholder="{{ 'usernameOrEmail' | translate }}" value="" autocomplete="off"/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('username', loginForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "usernameOrEmailValidataion" | translate }}-->
<!--            </span>-->
<!--          </div>-->

<!--          <div class="form-group mb-3">-->
<!--            <label for="password" class="text-navy-40">{{'password' | translate}}</label>-->
<!--            <input type="password" id="password" class="form-control" name="password" formControlName="password"-->
<!--                   placeholder="{{ 'password' | translate }}" value="" autocomplete="off"/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('password', loginForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "passwordValidataion" | translate }}-->
<!--            </span>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block text-white">-->
<!--              {{ "login" | translate }}-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="text-right">-->
<!--            <a class="small link-hover-info" [routerLink]="['/auth/forgot-password']" style="cursor: pointer;">-->
<!--              {{ "forgotPwd" | translate }} ?</a>-->
<!--          </div>-->

<!--          <p class="mt-3">-->
<!--            {{'changeLanguage'}}:-->
<!--            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"-->
<!--               (click)="useLanguage('np')">नेपा</a>-->
<!--            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>-->

<!--          </p>-->
<!--          <p class="mt-3">-->
<!--            Powered by: <a href="https://infodev.com.np/" target="_blank">InfoDevelopers Pvt. Ltd.</a>-->
<!--          </p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
