<div class="login-wrapper">
  <div class="login-container">
    <div class="login-card">
<!--      <img src="./assets/img/province_4.jpg" alt="NID">-->
      <img [src]="this.currentUser.getCurrentCompany() && this.currentUser.getCurrentCompany()['fullLogo']?
        this.currentUser.getCurrentCompany()['fullLogo']:environment.defaultImagePath"/>
      <div class="card card_rounded p-4 mt-4">
        <form [formGroup]="resetRequestForm" (submit)="onSubmit()">
<!--          <h5 class="mb-4 text-navy-40 font-bold">-->
          <!--            {{ "resetPwd" | translate }}-->
          <!--          </h5>-->
          <h6 class="login-heading text-center mb-4">
            {{ "resetPwd" | translate }}
          </h6>
          <div class="form-group">
            <label for="password" class="text-navy-40">{{"password" | translate}}</label>
            <input id="password" type="password" class="form-control" name="password" formControlName="password"
                   placeholder="{{ 'password' | translate }}" value=""/>
            <span class="error" *ngIf="checkFormControlInvalid('password', resetRequestForm)">
              <i class="ic-error"> </i>
              {{ "password" | translate }}
              {{ "required" | translate }}
            </span>
          </div>

          <div class="form-group  mb-3">
            <label for="retype" class="text-navy-40">{{"retypePwd" | translate}}</label>
            <input type="password" class="form-control" id="retype" name="retype" formControlName="retype"
                   placeholder="{{ 'retypePwd' | translate }}" value=""/>
            <span class="error" *ngIf="checkFormControlInvalid('retype', resetRequestForm)">
              <i class="ic-error"> </i>
              {{ "retypePwd" | translate }}
              {{ "required" | translate }}
            </span>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block text-white">
              {{ "submit" | translate }}
            </button>
          </div>
          <div class="text-right mt-2">
            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">
              {{ "backToLogin" | translate }}<i class="ic-arrow-line-right ml-2"></i>
            </a>
          </div>

          <p class="mt-3">
            {{'changeLanguage' | translate}}:
            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"
               (click)="useLanguage('np')">नेपा</a>
            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="container-fluid login-wrapper">-->
<!--  <div class="d-flex h-100 align-items-center justify-content-center">-->
<!--    <div class="row login-box">-->
<!--      <div class="col-lg-5 login-box-left d-none d-lg-block">-->
<!--        <h5 class="font-weight-normal mb-4">{{'welcomeTo'}}</h5>-->
<!--        <h5 class="font-bold login-box-text">-->
<!--          {{ "projectTitle" | translate }}-->
<!--        </h5>-->
<!--      </div>-->
<!--      <div class="col-lg-7 login-box-right">-->
<!--        <form [formGroup]="resetRequestForm" (submit)="onSubmit()">-->
<!--          <div class="logo-box">-->
<!--            <img [src]="environment.defaultImagePath" [alt]="environment.defaultImagePath" height="76"/>-->
<!--          </div>-->
<!--          <h5 class="mb-4 text-navy-40 font-bold">-->
<!--            {{ "resetPwd" | translate }}-->
<!--          </h5>-->

<!--          <div class="form-group">-->
<!--            <label for="password" class="text-navy-40">{{"password" | translate}}</label>-->
<!--            <input id="password" type="password" class="form-control" name="password" formControlName="password"-->
<!--                   placeholder="{{ 'password' | translate }}" value=""/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('password', resetRequestForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "password" | translate }}-->
<!--              {{ "required" | translate }}-->
<!--            </span>-->
<!--          </div>-->

<!--          <div class="form-group  mb-3">-->
<!--            <label for="retype" class="text-navy-40">{{"retypePwd" | translate}}</label>-->
<!--            <input type="password" class="form-control" id="retype" name="retype" formControlName="retype"-->
<!--                   placeholder="{{ 'retypePwd' | translate }}" value=""/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('retype', resetRequestForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "retypePwd" | translate }}-->
<!--              {{ "required" | translate }}-->
<!--            </span>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block text-white">-->
<!--              {{ "submit" | translate }}-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="text-right mt-2">-->
<!--            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">-->
<!--              {{ "backToLogin" | translate }}<i class="ic-arrow-line-right ml-2"></i>-->
<!--            </a>-->
<!--          </div>-->

<!--          <p class="mt-3">-->
<!--            {{'changeLanguage'}}:-->
<!--            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"-->
<!--               (click)="useLanguage('np')">नेपा</a>-->
<!--            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>-->
<!--          </p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
