<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'roleRightAssignment'"></menu-header-name>
      </div>
      <div>
        <div>
          <app-buttons (save)="onSubmit()" (exit)="goToPreviousPage()" (reset)="resetClicked($event)"
            (delete)="deleteClicked($event)" [button]="buttonAccess">
          </app-buttons>
        </div>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-body">
        <app-confirm-deletion *ngIf="getPage() == 'delete'"></app-confirm-deletion>
        <form [formGroup]="formStructure">
          <div class="form-grid form-grid-inline">
            <div class="span-4 form-group">
              <label>{{ "role" | translate }}
                <span class="text-danger">*</span></label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="role" />
                <div class="input-group-append">
                  <button [disabled]="
                      this.getPage() == 'view' || this.getPage() == 'delete'
                    " class="btn btn-primary" type="button" id="button-addon2" (click)="fetchRoleData()">
                    <i class="ic-search align-middle"></i>
                  </button>
                </div>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('role', formStructure)">
                <i class="ic-error"> </i>
                {{ "role" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label>{{ "effectDate" | translate }}
                <span class="text-danger">*</span></label>
              <div class="form-group-icon">
                <input appDatePicker language="gregorian" type="text" class="form-control"
                  formControlName="effectDate" />
                <i class="ic-calendar align-middle"></i>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('effectDate', formStructure)">
                <i class="ic-error"> </i>
                {{ "effectDate" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label>{{ "effectiveTill" | translate }}</label>
              <div class="form-group-icon">
                <input appDatePicker [minDate]="this.formStructure.get('effectDate').value" language="gregorian" type="text" class="form-control"
                  formControlName="effectTillDate" />
                <i class="ic-calendar align-middle"></i>
              </div>
            </div>
            <div class="span-4 form-group">
              <label for="status">{{ "status" | translate }}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate }}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s["name"] | translate }}
                </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card card-100">
      <div class="card-body">
        <app-pqgrid [data]="roleRightList" [searchBox]="true" [columns]="menuRightColumns">
        </app-pqgrid>
        <div class="table-responsive" *ngIf="getPage() == 'edit' || getPage() == 'create'">
          <form [formGroup]="entryPadForm" (submit)="addMapping()">
            <table class="table table-01 table-borderless">
              <tfoot>
                <tr>
                  <td style="width: 3%"></td>
                  <td style="width: 44%">
                    <div class="span-12">
                      <div class="form-grid">
                        <div class="span-3">
                          <input type="text" class="form-control" formControlName="menuCode"
                            placeholder="{{ 'processCode' | translate }}" />
                        </div>

                        <div class="span-9">
                          <div class="input-group">
                            <input type="text" class="form-control ml-2" formControlName="menuName"
                              placeholder="{{ 'process' | translate }}" />
                            <div class="input-group-append">
                              <button (click)="fetchMenuData()" class="btn btn-primary" type="button"
                                id="button-addon2">
                                <i class="ic-search align-middle"></i>
                              </button>
                            </div>
                          </div>
                          <span class="error" *ngIf="
                              checkFormControlInvalid('menuId', entryPadForm)
                            ">
                            <i class="ic-error"> </i>
                            {{ "process" | translate }}
                            {{ "isRequired" | translate }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="text-center" style="width: 9%">
                    <input type="checkbox" id="add" formControlName="iscreate" />
                    <label for="add" class="small cursor-pointer d-block">{{'add'|translate}}</label>
                  </td>
                  <td class="text-center" style="width: 9%">
                    <input type="checkbox" id="edit" formControlName="isupdate" />
                    <label for="edit" class="small cursor-pointer d-block">{{'edit'|translate}}</label>
                  </td>
                  <td class="text-center" style="width: 9%">
                    <input type="checkbox" id="delete" formControlName="isdelete" />
                    <label for="delete" class="small cursor-pointer d-block">{{'delete'|translate}}</label>
                  </td>
                  <td class="text-center" style="width: 9%">
                    <input type="checkbox" id="view" formControlName="isview" />
                    <label for="view" class="small cursor-pointer d-block">{{'view'|translate}}</label>
                  </td>
                  <td class="text-center" style="width: 9%">
                    <input type="checkbox" id="approve" formControlName="isapprove" />
                    <label for="approve" class="small cursor-pointer d-block">{{'approve'|translate}}</label>
                  </td>
                  <td class="text-center">
                    <input type="submit" class="btn btn-primary btn-sm mr-2 btn-block mb-2"
                      value="{{ 'add' | translate }}" />
                    <button type="reset" class="btn btn-outline outline-hover-red btn-sm btn-block">
                      {{ "clear" | translate }}
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #roleListModal let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "roleList" | translate }}
    </h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body">
    <app-pqgrid [data]="fetchedRoleData" [columns]="roleColumns" [searchBox]="true"
      (selectedRowData)="getSelectedRoleData($event)"></app-pqgrid>
  </div>
</ng-template>
<ng-template #menuListModal let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "menuList" | translate }}
    </h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body">
    <app-pqgrid [data]="fetchedMenuData" [columns]="menuColumns" [searchBox]="true"
      (selectedRowData)="getSelectedMenuData($event)"></app-pqgrid>
  </div>
</ng-template>
