<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'office'"></menu-header-name>

      </div>
      <div>
        <app-buttons (exit)="goToPreviousPage()" [button]="{exit:true}"></app-buttons>
      </div>
    </div>
    <div id="confirmDeletion"></div>


    <div class="card mb-2">
      <div class="card-body">
        <form [formGroup]="formStructure" (ngSubmit)=onSubmit()>
          <div class="form-grid form-grid-inline">
            <div class="span-4 form-group">
              <label for="projectcode">{{'code' | translate}}
                <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="projectcode" formControlName="projectcode"/>
              <span class="error" *ngIf="checkFormControlInvalid('projectcode', formStructure)">
                <i class="ic-error"></i>
                {{ "code" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label for="name">{{'name' | translate}}
                <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="name" formControlName="name"/>
              <span class="error" *ngIf="checkFormControlInvalid('name', formStructure)">
                <i class="ic-error"></i>
                {{ "name" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label for="namelocal">{{'nameLocal' | translate}}
                <span class="text-danger">*</span></label>
              <input nepaliUnicode type="text" class="form-control" id="namelocal" formControlName="namelocal"/>
              <span class="error" *ngIf="checkFormControlInvalid('name', formStructure)">
                <i class="ic-error"></i>
                {{ "nameLocal" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>


            <div class="span-4 form-group">
              <label for="">{{'localBody' | translate}}
                <span class="text-danger">*</span></label>
              <div class="input-group">
                <input type="text" class="form-control" id="localbodyname" formControlName="localbodyname"/>
                <div class="input-group-append">
                  <button [disabled]="this.formStructure.disabled" (click)="fetchLocalBodyData()" class="btn btn-primary" type="button"
                          id="button-addon1">
                    <i class="ic-search align-middle"></i>
                  </button>
                </div>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('localbodyid', formStructure)">
                <i class="ic-error"></i>
                {{ "localBody" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

            <div class="span-4 form-group">
              <label>{{ "district" | translate }}</label>
              <div class="input-group">
                <input type="text" class="form-control" id="district" formControlName="district">
              </div>
            </div>


            <div class="span-4 form-group">
              <label for="officetypeid">{{'officeType' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="officetypeid" formControlName="officetypeid">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let office of officeTypes" [ngValue]="office['id']">
                  {{ office['officeTypeName'] | englocal : office['officeTypeNameLocal'] }} </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('officetypeid', formStructure)">
                <i class="ic-error"></i>
                {{ "officeType" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

            <div class="span-4">
              <div class="form-group">
                <label>{{ "mobileNo" | translate }}
                  <span class="text-danger">*</span></label>
                <input type="tel" class="form-control" formControlName="mobilenumber"/>
                <span class="error" *ngIf="checkFormControlInvalid('mobilenumber', formStructure)">
                      <i class="ic-error"> </i>
                  {{ "mobileNo" | translate }}
                  {{ "isInValid" | translate }}
                    </span>
              </div>
            </div>


            <div class="span-4">
              <div class="form-group">
                <label>{{ "email" | translate }}
                  <span class="text-danger">*</span></label>
                <input type="email" value="foo@example.com, bar@example.com" class="form-control" formControlName="email" />
                <span class="error" *ngIf="checkFormControlInvalid('email', formStructure)">
                      <i class="ic-error"> </i>
                  {{ "email" | translate }}
                  {{ "isInValid" | translate }}
                    </span>
              </div>
            </div>


            <div class="span-4 form-group">
              <label for="status">{{'status' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s['name'] | translate}}</option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

          </div>

          <div class="text-right mt-2">
            <app-buttons (reset)="resetClicked($event)" (delete)="deleteClicked($event)" [button]="buttonAccess">
            </app-buttons>

          </div>
        </form>
      </div>
    </div>

    <div class="card card-100">
      <app-pqgrid [data]="fetchedData" [columns]="columns"></app-pqgrid>

    </div>
  </div>
</div>


<ng-template #localBodyContent let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{ 'localBody' | translate }}</h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
       (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body">
    <app-pqgrid [data]="localBodyList" [pagination]="true" [remotePaging]="true"
                [searchBox]="true" [remoteUrl]="remoteLocalBodyUrl"
                (selectedRowData)="getSelectedLocalData($event, modal)" [columns]="localBodyColumns"></app-pqgrid>
  </div>
</ng-template>
