<button (click)="approveClicked()" *ngIf="button['approve']" class="btn btn-success mr-2" id="approveBtn">
  {{'approve'|translate}}
</button>
<button (click)="backForReviewClicked()" *ngIf="button['backForReview']" class="btn btn-primary mr-2"
        id="backForReviewBtn"
>{{ 'backForReview' | translate }}
</button>
<button style="pointer-events:none" *ngIf="button['count']" class="btn btn-outline outline-hover-green mr-2">
  {{countItem}} {{ "countProgramSelection" | translate }}
</button>
<button (click)="historyClicked()" *ngIf="button['history']" class="btn btn-outline-blue mr-2">
  {{ "viewPreviousHistory" | translate }}
</button>
<button (click)="saveDraftClicked()"
        *ngIf="(currentUser.hasMenuActionPermission(environment.menuActions.create) ||
                  currentUser.hasMenuActionPermission(environment.menuActions.update)) && button['saveAsDraft']"
        class="btn btn-outline-blue mr-2" id="saveBtn">
  {{ "saveAsDraft" | translate }}
</button>
<button (click)="requestSaveFinalClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.create) && button['requestSaveAsFinal']"
        class="btn btn-info mr-2" id="saveBtn" type="submit">
  {{ 'requestSaveAsFinal' | translate }}
</button>
<button (click)="selectionSaveFinalClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.create) && button['selectionSaveAsFinal']"
        class="btn btn-info mr-2" id="saveBtn" type="submit">
  {{ 'selectionSaveAsFinal' | translate }}
</button>
<button (click)="saveClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.create) && button['save']"
        class="btn btn-info mr-2" id="saveBtn" type="submit">
  {{ 'save' | translate }}
</button>
<button (click)="bulkGrantTransferClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.create) && button['bulkGrantTransfer']"
        class="btn btn-info mr-2" id="bulkGrantTransferClickedBtn" type="submit">
  {{ 'bulkGrantTransfer' | translate }}
</button>
<button (click)="saveClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.update) && button['update']"
        class="btn btn-info mr-2" id="saveBtn" type="submit">
  {{ 'update'| translate }}
</button>
<button (click)="deleteClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.delete) && button['delete']"
        class="btn btn-outline-red mr-2" id="deleteBtn"
        type="button">
  {{'delete' | translate}}
</button>
<button (click)="createClicked()"
        *ngIf="this.currentUser.hasMenuActionPermission(environment.menuActions.create) && button['create']"
        class="btn btn-primary btn-icon mr-2" id="createBtn">
  <i class="ic-add-circular-filled"></i>
  {{ "create" | translate}}
</button>
<button (click)="generateClicked()" *ngIf="button['generate']" class="btn btn-outline-blue mr-2" id="generateBtn"><i
  class="ic-add-circular-filled"></i>
  {{'generate' | translate}}
</button>
<button (click)="resetClicked()" *ngIf="button['reset']" class="btn btn-outline outline-hover-red mr-2" id="resetBtn"
        type="button">
  {{ "reset" | translate }}
</button>
<button (click)="exitClicked()" *ngIf="button['exit']" class="btn btn-danger btn-icon" id="exitBtn"><i
  class="ic-close-circular-filled"></i>
  {{'exit' | translate}}
</button>


