<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'userCreate'"></menu-header-name>
      </div>
      <div>
        <app-buttons (save)="onSubmit()" (exit)="goToPreviousPage()" (reset)="resetClicked($event)"
          (delete)="deleteClicked($event)" [button]="buttonAccess">
        </app-buttons>
      </div>
    </div>

    <div class="card card-100">
      <div class="card-body overflow-hidden">
        <app-confirm-deletion *ngIf="getPage() == 'delete'"></app-confirm-deletion>
        <form [formGroup]="formStructure">
          <div class="form-grid">
            <div class="span-3">
              <div class="form-group">
                <label for="">{{ "profilePicture" | translate }}</label>
                <div class="files--upload">
                  <div class="imagePlaceholder"></div>
                  <input *ngIf="
                      this.getPage() == 'create' || this.getPage() == 'edit'
                    " type="file" id="img-upload2" class="d-none imgUpload" (change)="handleFileChange($event)"
                    accept="image/*" />
                  <label for="img-upload2" class="font-semibold text-center" *ngIf="
                      formStructure.get('image').value == '' ||
                      formStructure.get('image').value == null
                    ">
                    <p>
                      Drop document to upload or
                      <span class="ml-1">{{ "browse" | translate }}</span>
                    </p>
                  </label>
                  <div *ngIf="
                      formStructure.get('image').value != '' &&
                      formStructure.get('image').value != null
                    " class="text-center">
                    <img [src]="imageSrc" class="img-fluid" style="max-width: 150px; object-fit: contain" />
                    <div class="text-center">
                      <button *ngIf="
                        this.getPage() == 'create' || this.getPage() == 'edit'
                      " type="button" class="btn btn-danger mt-2" (click)="handleFileRemove()">
                        <i class="ic-close-circular-filled"></i>
                        <span class="ml-1">{{ "remove" | translate }}</span>
                      </button>
                    </div>

                  </div>
                </div>
                <span class="error" *ngIf="checkFormControlInvalid('image', formStructure)">
                  <i class="ic-error"> </i>
                  {{ "image" | translate }}
                  {{ "isRequired" | translate }}
                </span>
              </div>
            </div>
            <div class="span-9">
              <div class="form-grid form-grid-inline">
                <div class="span-6">
                  <div class="form-group">
                    <label for="fullname">{{ "fullName" | translate }}
                      <span class="text-danger">*</span></label>

                    <input nepaliUnicode type="text" class="form-control" id="fullname" name="fullname" value=""
                      formControlName="fullname" />
                    <span class="error" *ngIf="checkFormControlInvalid('fullname', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "fullName" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label for="gender">{{ "gender" | translate }}
                      <span class="text-danger">*</span></label>

                    <select name="select" id="gender" class="custom-select" formControlName="gender">
                      <option value="" disabled selected>
                        {{ "gender" | translate }}
                      </option>
                      <option [value]="1">{{ "Male" | translate }}</option>
                      <option [value]="2">{{ "Female" | translate }}</option>
                      <option [value]="3">{{ "Other" | translate }}</option>
                    </select>
                    <span class="error" *ngIf="checkFormControlInvalid('gender', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "gender" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label for="username">{{ "userName" | translate }}
                      <span class="text-danger">*</span></label>
                    <input id="username" type="text" class="form-control" name="username" value=""
                      formControlName="username" />
                    <span class="error" *ngIf="checkFormControlInvalid('username', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "userName" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label>{{ "email" | translate }}
                      <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" formControlName="email" />
                    <span class="error" *ngIf="checkFormControlInvalid('email', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "email" | translate }}
                      {{ "isInValid" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label>{{ "address" | translate }}
                      <span class="text-danger">*</span></label>
                    <input nepaliUnicode type="text" class="form-control" formControlName="address" />
                    <span class="error" *ngIf="checkFormControlInvalid('address', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "address" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label>{{ "mobileNo" | translate }}
                      <span class="text-danger">*</span></label>
                    <input type="tel" class="form-control" formControlName="mobileno" pattern="^9\d{9}$" minlength="10"
                      maxlength="10" />
                    <span class="error" *ngIf="checkFormControlInvalid('mobileno', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "mobileNo" | translate }}
                      {{ "isInValid" | translate }}
                    </span>
                  </div>
                </div>
                <div class="span-6 form-group">
                  <label for="status">{{ "status" | translate }}
                    <span class="text-danger">*</span></label>
                  <select class="custom-select" id="status" formControlName="status">
                    <option value="" disabled>
                      {{ "select" | translate }}
                    </option>
                    <option *ngFor="let s of status" [ngValue]="s['id']">
                      {{ s["name"] | translate }}
                    </option>
                  </select>
                  <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                    <i class="ic-error"></i>
                    {{ "status" | translate }}
                    {{ "isRequired" | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="getPage() == 'create' && !currentUser.isHeadBranch()" class="row flex-grow-1 mt-3">
          <div class="col-lg-12 d-flex flex-column flex-grow-1">
            <app-pqgrid [data]="roleList" [searchBox]="true" [columns]="roleColumns">
            </app-pqgrid>
            <form [formGroup]="roleEntryPad" *ngIf="getPage() == 'create'">
              <table class="expTransactionWorkflow table table-01 table-borderless">
                <tfoot>
                  <tr>
                    <td style="width: 2.5%"></td>
                    <td style="width: 95%">
                      <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings" (onSelect)="onRoleSelect($event)"
                        (onDeSelect)="OnRoleDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)" (onFilterSelectAll)="onFilterSelectAll($event)"
                        (onFilterDeSelectAll)="onFilterDeSelectAll($event)" formControlName="role">
                      </angular2-multiselect>
                      <span class="error" *ngIf="checkFormControlInvalid('role', roleEntryPad)">
                        <i class="ic-error"> </i>
                        {{ "role" | translate }}
                        {{ "isRequired" | translate }}
                      </span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
