<div class="inner">
  <div class="container">
    <h6 class="text-black font-bold my-3">{{'dashboard' | translate}}</h6>
    <div>
      <div class="row">
        <div *ngFor="let i of fetchedData" class="col-lg-3 col-md-4 mb-2">
          <div class="card card-stats {{i['className']}}">
            <div>
              <div class="icon">
                <div class="ic-{{i['iconName']}}"></div>
              </div>
              <p class="title">{{i['title'] | translate}}</p>
            </div>
            <h3 class="value">{{i['count'] | engToNepNumbers}}</h3>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-8">

          <div class="card  card-100">
            <div class="card-body">
              <h6 *ngIf="!currentUser.isLocalBranch()" class="text-black font-bold mb-2">
                {{ 'latest' | translate }}
                {{ 'programRequest' | translate }}
                {{ 'details' | translate }}
              </h6>
              <h6 *ngIf="currentUser.isLocalBranch()" class="text-black font-bold mb-2">
                {{ 'latest' | translate }}
                {{ 'appropriationAmount' | translate }}
                {{ 'details' | translate }}
              </h6>
              <app-pqgrid *ngIf="!currentUser.isLocalBranch()" [data]="fetchedLatestProgramRequests"
                          [columns]="latestProgramRequestsColumns" [pagination]="false"></app-pqgrid>
              <app-pqgrid *ngIf="currentUser.isLocalBranch()" [data]="fetchedLatestProgramAppropriations"
                          [columns]="latestProgramAppropriationsColumns" [pagination]="false"></app-pqgrid>
              <!--              <canvas id="line-chart" width="400" height="200px"></canvas>-->
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-3">
          <div class="card card-100">
            <div class="card-body">
              <canvas class="mt-3" id="pie-chart" style="height: 400px; width: 100%;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
