<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'fiscalYear'"></menu-header-name>

      </div>
      <div>
        <app-buttons (exit)="goToPreviousPage()" [button]="{exit:true}"></app-buttons>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <div id="confirmDeletion"></div>

        <form [formGroup]="formStructure" (ngSubmit)="onSubmit()">
          <div class="form-grid form-grid-inline">
            <div class="form-group span-4">
              <label for="fiscalyear">{{ "fiscalYear" | translate }}
                <span class="text-danger">*</span></label>
              <input autocomplete="off" class="form-control" formControlName="fiscalyear"
                     id="fiscalyear" type="text"/>
              <span class="error" *ngIf="checkFormControlInvalid('fiscalyear', formStructure)">
               <i class="ic-error"></i>
                {{ "fiscalYear" | translate }}
                {{ "isInValid" | translate }}
             </span>
            </div>
            <div class="form-group span-4">
              <label for="startdate">{{ "startDate" | translate }}
                <span class="text-danger">*</span></label>
              <div class="form-group-icon">
                <input appDatePicker autocomplete="off" class="form-control"
                       formControlName="startdate"
                       id="startdate" type="text"/>
                <i class="ic-calendar"></i>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('startdate', formStructure)">
              <i class="ic-error"></i>
                {{ "startDate" | translate }}
                {{ "isRequired" | translate }}
          </span>
            </div>
            <div class="form-group span-4">
              <label for="enddate">{{ "endDate" | translate}}
                <span class="text-danger">*</span></label>
              <div class="form-group-icon">
                <input appDatePicker [minDate]="this.formStructure.get('startdate').value"
                       autocomplete="off" class="form-control" formControlName="enddate"
                       id="enddate" type="text"/>
                <i class="ic-calendar"></i>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('enddate', formStructure)">
             <i class="ic-error"></i>
                {{ "endDate" | translate}}
                {{ "isRequired" | translate}}
              </span>
            </div>
            <div class="span-4 form-group">
              <label for="status">{{'status' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s['name'] | translate}}</option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
          </div>
          <div class="text-right mt-2">
            <app-buttons
              (reset)="resetClicked($event)"
              (delete)="deleteClicked($event)"
              [button]="buttonAccess">
            </app-buttons>
          </div>
        </form>


      </div>
    </div>

    <div class="card card-100">
      <app-pqgrid [data]="fetchedData" [columns]="columns"></app-pqgrid>
    </div>
  </div>


