
<div class="modal-alert">
  <div class="card">
    <div class="card-body">
      <i class="ic-error h1 text-warning"></i>
      <p class="alert-desc"> {{data.message }}</p>
      <div>
        <button (click)="dismiss()" class="btn btn-outline outline-hover-green" id="cancelBtn">
          {{'Ok'}}
        </button>
      </div>
    </div>
  </div>
</div>
