<header class="header">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" class="toggler" id="toggler"
           height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" (click)="toggled($event)">
        <path
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
        </path>
      </svg>
      <div>
        <p class="text-white font-bold" *ngIf="currentUser.hasCurrentBranch()">
          {{
          currentUser.getCurrentBranch()["officename"]
            | englocal: currentUser.getCurrentBranch()["officenamelocal"]
          }}
          <span *ngIf="currentUser.getCurrentBranch()['projectcode']">
            ({{
            currentUser.getCurrentBranch()["projectcode"] | engToNepNumbers
            }})
          </span>
        </p>

        <p *ngIf="fiscalYearsService.has('current')" class="text-white small">
          {{ "currentFY" | translate }}:
          <span class="font-bold" *ngIf="fiscalYearsService.get('current').fiscalYear">{{
            fiscalYearsService.get("current").fiscalYear | engToNepNumbers
            }}</span>
        </p>
      </div>
    </div>

    <div class="list list__inline list-separator">
      <div class="nav-item dropdown-notification">
        <a class="nav-link btn btn-icon-only dropdown-toggle" href="javascript:void(0)" id="notificationDrop"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ic-bell text-white"></i><small
          class="notification badge-count">{{
          notificationCount | engToNepNumbers
          }}</small></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDrop">
          <div class="heading">
            <p class="text-black font-bold">
              {{ "notifications" | translate }}
            </p>
            <!--            <a class="text-info des"-->
            <!--               [routerLink]="'/featured/notification'">{{'seeAll' | translate}}</a>-->
          </div>
          <ul class="list scrollable" *ngFor="let notification of notificationDetails">
            <li (click)="showNotification(notification)"
                class="dropdown-item {{ notification['isviewed'] ? 'read' : '' }}">
              <a href="javascript:void(0)">
                <h6>{{ notification["title"] }}</h6>
                <p>{{ notification["message"] }}</p>
                <ul class="list list-inline list-dot">
                  <li>
                    {{ notification["notificationdatetime"] | engToNepNumbers }}
                  </li>
                </ul>
              </a>
            </li>
          </ul>
          <div class="card-footer">
            <a class="text-info des" [routerLink]="'/featured/notification'">{{ "seeAll" | translate }}...</a>
          </div>
        </div>
      </div>
      <div class="dropdown ml-2">
        <a href="javascript:void(0)" class="auth" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <div class="avatar-md">
            <img src="{{ currentUser.getUserProfileImage() }}" alt=""/>
          </div>
          <div class="textbox mr-2">
            <h6 class="username">{{ currentUser.getUserProfileName() }}</h6>
          </div>
          <i class="ic-triangle-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a href="javascript:void(0)" class="dropdown-item" style="cursor: pointer" (click)="open(changePwd)">
            <i class="ic-edit"></i>{{ "changePwd" | translate }}
          </a>
          <div class="divider"></div>
          <div href="javascript:void(0)" class="dropdown-item" style="cursor: pointer" routerLink="/auth/select-branch"
               *ngIf="
              currentUser.hasCurrentBranch() &&
              currentUser.get('branches').length > 1
            ">
            <i class="ic-briefcase"></i>{{ "switchBranchTitile" | translate }}
          </div>
          <div class="divider"></div>
          <div class="divider"></div>
          <a href="javascript:void(0)" class="dropdown-item text-danger" style="cursor: pointer"
             (click)="authService.userLogout()"><i class="ic-logout"> </i>{{ "logout" | translate }}</a>
        </div>
      </div>

      <div class="dropdown dropdown-lang ml-2">
        <a href="javascript:void(0)" class="auth" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <div class="textbox mr-2">
            <h6 class="username">{{ "language" | translate }}</h6>
          </div>
          <i class="ic-triangle-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item des {{
              translate.currentLang == 'np' ? 'active' : ''
            }}" (click)="useLanguage('np')">नेपाली</a>
          <a class="dropdown-item des {{
              translate.currentLang == 'en' ? 'active' : ''
            }}" (click)="useLanguage('en')">English</a>
        </div>
      </div>
      <!-- <div class="d-flex align-items-center">
        <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-white des" (click)="useLanguage('np')">नेपा</a>
        <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-white des" (click)="useLanguage('en')">EN</a>
      </div> -->
    </div>
  </div>
</header>

<ng-template #changePwd let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "changePwd" | translate }}
    </h4>
    <a style="cursor: pointer" class="ic-close text-black small" aria-label="Close"
       (click)="modal.dismiss('Cross click'); changePwdForm.reset()">
    </a>
  </div>
  <form [formGroup]="changePwdForm" (submit)="onPasswordChange()">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="password">{{ "oldPwd" | translate }}
              <span class="text-danger">*</span></label>
            <input id="password" type="password" class="form-control" formControlName="oldPassword"/>
            <span class="error" *ngIf="checkFormControlInvalid('oldPassword', changePwdForm)">
              <i class="ic-error"> </i>
              {{ "oldPwd" | translate }}
              {{ "isRequired" | translate }}
            </span>

            <span class="error" *ngIf="invalidOldPwd">
              <i class="ic-error"> </i>
              {{ invalidOldMsg }}
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>{{ "password" | translate }}
              <span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="password"/>
            <span class="error" *ngIf="checkFormControlInvalid('password', changePwdForm)">
              <i class="ic-error"> </i>
              {{ "password" | translate }}
              {{ "isRequired" | translate }}
            </span>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label>{{ "retypePwd" | translate }}
              <span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="retypePassword"/>
            <span class="error" *ngIf="checkFormControlInvalid('retypePassword', changePwdForm)">
              <i class="ic-error"> </i>
              {{ "retypePwd" | translate }}
              {{ "isRequired" | translate }}
            </span>

            <!-- pwdMismatch -->
            <span class="error" *ngIf="pwdMismatch">
              <i class="ic-error"> </i>
              {{ "pwdMismatch" | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline outline-hover-red mr-2"
              (click)="modal.dismiss('Cross click'); changePwdForm.reset()">
        {{ "cancel" | translate }}
      </button>
      <input type="submit" class="btn btn-primary" value="{{ 'submit' | translate }}"/>
    </div>
  </form>
</ng-template>

<ng-template #notification let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "notifications" | translate }}
    </h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
       (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body p-0">
    <ul class="list scrollable" *ngFor="let notification of fetchedData">
      <li class=" p-3 {{ notification['isviewed'] ? 'read' : '' }}">
        <div class="align-vertical justify-content-between mb-2">
          <h6 class="text-gray-700">{{ notification["title"] }}</h6>
          <ul class="list list-inline list-dot">
            <li class="des text-coolGray600">
              {{ notification["notificationdatetime"] | engToNepNumbers }}
            </li>
          </ul>
        </div>
        <p class="text-gray-400"> {{ notification["message"] }}</p>
        <a *ngIf="notification['url']" href="{{notification['url']}}"
           class="text-primary d-block des mt-2">Link</a>
      </li>
    </ul>
    <!--    <app-pqgrid [data]="fetchedData" [columns]="columns" [searchBox]="true"></app-pqgrid>-->
  </div>
</ng-template>
