<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'userOfficeRole'"></menu-header-name>
      </div>
      <div>
        <div>
          <app-buttons
            (save)="onSubmit()"
            (exit)="goToPreviousPage()"
            (reset)="resetClicked($event)"
            (delete)="deleteClicked($event)"
            [button]="buttonAccess">
          </app-buttons>
        </div>
      </div>

    </div>

    <div class="card mb-2">
      <div class="card-body">
        <app-confirm-deletion *ngIf="getPage()=='delete'"></app-confirm-deletion>
        <form [formGroup]="formStructure">
          <div class="form-grid form-grid-inline">
            <div class="span-4 form-group">
              <label>{{ "user" | translate }}
                <span class="text-danger">*</span></label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="userName"/>
                <div class="input-group-append">
                  <button [disabled]="this.getPage() == 'view' || this.getPage() == 'delete'"
                          class="btn btn-primary" type="button" id="button-addon2"
                          (click)="open(userListModal)">
                    <i class="ic-search align-middle"></i>
                  </button>
                </div>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('userName', formStructure)">
                <i class="ic-error"> </i>
                {{ "user" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label>{{ "effectDate" | translate }}
                <span class="text-danger">*</span></label>
              <div class="form-group-icon">
                <input appDatePicker language="gregorian" type="text" class="form-control"
                       formControlName="effectDate"/>
                <i class="ic-calendar align-middle"></i>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('effectDate', formStructure)">
                <i class="ic-error"> </i>
                {{ "effectDate" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label>{{ "effectiveTill" | translate }}</label>
              <div class="form-group-icon">
                <input appDatePicker [minDate]="this.formStructure.get('effectDate').value" language="gregorian" type="text" class="form-control"
                       formControlName="effectTillDate"/>
                <i class="ic-calendar align-middle"></i>
              </div>
            </div>
            <div class="span-4 form-group">
              <label for="status">{{'status' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s['name'] | translate}}</option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card card-100">
      <div class="card-body">
        <app-pqgrid [data]="roleOfficeAssignList" [searchBox]="true" [columns]="roleOfficeColumns">
        </app-pqgrid>
        <div class="table-responsive" *ngIf="getPage() == 'create' || getPage() == 'edit'">
          <form [formGroup]="entryPadForm" (submit)="addMapping()">
            <table class="table table-01 table-borderless">
              <tfoot>
              <tr>
                <td style="width:2.5%"></td>
                <td style="width:55%">
                  <div class="span-12 form-group mt-1">
                    <div class="form-grid">
                      <div class="span-3">
                        <input type="text" class="form-control" formControlName="officeCode"
                               [placeholder]="'officeCode' | translate"/>
                        <span class="error" *ngIf="checkFormControlInvalid('officeCode', entryPadForm)">
                      <i class="ic-error"> </i>
                          {{ "officeCode" | translate }}
                          {{ "isRequired" | translate }}
                    </span>
                      </div>
                      <div class="span-9">
                        <div class="input-group">
                          <input type="text" class="form-control" formControlName="officeName"
                                 [placeholder]="'officeName' | translate"/>
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2"
                                    (click)="fetchOfficeData()">
                              <i class="ic-search align-middle"></i>
                            </button>
                          </div>
                        </div>
                        <span class="error" *ngIf="checkFormControlInvalid('officeId', entryPadForm)">
                      <i class="ic-error"> </i>
                          {{ "office" | translate }}
                          {{ "isRequired" | translate }}
                    </span>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="width:35%">
                  <div class="span-12 form-group mt-1">
                    <div class="form-grid">
                      <div class="span-12">
                        <div class="input-group">
                          <input type="text" class="form-control" formControlName="roleName"
                                 [placeholder]="'roleName' | translate"/>
                          <div class="input-group-append">
                            <button (click)="fetchRoleData()" class="btn btn-primary btn-sm" type="button"
                                    id="button-addon2">
                              <i class="ic-search align-middle"></i>
                            </button>
                          </div>
                        </div>
                        <span class="error" *ngIf="checkFormControlInvalid('roleId', entryPadForm)">
                      <i class="ic-error"> </i>
                          {{ "roleName" | translate }}
                          {{ "isRequired" | translate }}
                    </span>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <input type="submit" class="btn btn-primary btn-sm mr-2 btn-block mb-2"
                         value="{{ 'add' | translate }}"/>
                  <button type="reset" class="btn btn-outline outline-hover-red btn-sm btn-block">
                    {{ "clear" | translate }}
                  </button>

                </td>
              </tr>
              </tfoot>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #userListModal let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{ 'userList' | translate }}</h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
       (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body">
    <app-pqgrid [data]="[]" [columns]="userColumns"
                [pagination]="true" [searchBox]="true" (selectedRowData)="getSelectedUserData($event)"
                [remoteUrl]="remoteUserUrl" [remotePaging]="true"></app-pqgrid>
  </div>
</ng-template>

<ng-template #officeListModal let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{ 'officeList' | translate }}</h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
       (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body">
    <app-pqgrid [data]="fetchedOfficeData" [columns]="officeColumns"
                [searchBox]="true" (selectedRowData)="getSelectedOfficeData($event)"></app-pqgrid>

  </div>
</ng-template>

<ng-template #roleListModal let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{ 'roleList' | translate }}</h4>
    <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
       (click)="modal.dismiss('Cross click')">
    </a>
  </div>
  <div class="modal-body">
    <app-pqgrid [data]="fetchedRoleData" [columns]="roleColumns"
                [searchBox]="true" (selectedRowData)="getSelectedRoleData($event)"></app-pqgrid>

  </div>
</ng-template>

