<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name></menu-header-name>

      </div>
      <div>
        <app-buttons
          (save)="onSubmit()"
          (exit)="goToPreviousPage()"
          (reset)="resetClicked($event)"
          (delete)="deleteClicked($event)"
          [button]="buttonAccess">
        </app-buttons>
      </div>
    </div>

    <div class="card card-100">
      <div class="card-body overflow-hidden">
        <app-confirm-deletion *ngIf="getPage()=='delete'"></app-confirm-deletion>
        <form [formGroup]="formStructure">
          <div class="form-grid">
            <div class="span-12">
              <div class="form-grid form-grid-inline">
                <div class="span-6">
                  <div class="form-group">
                    <label for="applicationName">{{ "applicationName" | translate }}
                      <span class="text-danger">*</span></label>

                    <input type="text" class="form-control" id="applicationName"
                           name="applicationName" value="" formControlName="applicationName"/>
                    <span class="error" *ngIf="checkFormControlInvalid('applicationName', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "applicationName" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6 ">
                  <div class="form-group">
                    <label for="applicationNameLocal">{{ "applicationNameLocal" | translate }}
                      <span class="text-danger">*</span></label>
                    <input nepaliUnicode id="applicationNameLocal" type="text" class="form-control"
                           name="applicationNameLocal" value="" formControlName="applicationNameLocal"/>
                    <span class="error" *ngIf="checkFormControlInvalid('applicationNameLocal', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "applicationNameLocal" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label for="applicationEmail">{{ "applicationEmail" | translate }}
                      <span class="text-danger">*</span></label>
                    <input id="applicationEmail" type="email" class="form-control"
                           name="applicationEmail" value="" formControlName="applicationEmail"/>
                    <span class="error" *ngIf="checkFormControlInvalid('applicationEmail', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "applicationEmail" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label for="applicationUrl">{{ "applicationUrl" | translate }}
                      <span class="text-danger">*</span></label>
                    <input id="applicationUrl" type="text" class="form-control"
                           name="applicationUrl" value="" formControlName="applicationUrl"/>
                    <span class="error" *ngIf="checkFormControlInvalid('applicationUrl', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "applicationUrl" | translate }}
                      {{ "isRequired" | translate }}
                    </span>
                  </div>
                </div>


                <div class="span-6">
                  <div class="form-group">
                    <label>{{ "address" | translate }}
                      <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="address"/>
                    <span class="error" *ngIf="checkFormControlInvalid('address', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "address" | translate }}
                      {{ "isRequired" | translate }}
                    </span>

                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label>{{ "addressLocal" | translate }}
                      <span class="text-danger">*</span></label>
                    <input nepaliUnicode type="text" class="form-control" formControlName="addressLocal"/>
                    <span class="error" *ngIf="checkFormControlInvalid('addressLocal', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "addressLocal" | translate }}
                      {{ "isRequired" | translate }}
                    </span>

                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label>{{ "contactNo" | translate }}
                      <span class="text-danger">*</span></label>
                    <input type="tel" class="form-control" formControlName="contactNumber" pattern="^9\d{9}$"
                           minlength="10" maxlength="10"/>
                    <span class="error" *ngIf="checkFormControlInvalid('contactNumber', formStructure)">
                      <i class="ic-error"> </i>
                      {{ "contactNo" | translate }}
                      {{ "isInValid" | translate }}
                    </span>
                  </div>
                </div>

                <div class="form-group span-6">
                  <label>{{ "applicationStartDate" | translate }}
                    <span class="text-danger">*</span></label>
                  <div class="form-group-icon">
                    <input appDatePicker language="gregorian" type="text" class="form-control"
                           formControlName="applicationStartDate"/>
                    <i class="ic-calendar align-middle"></i>
                  </div>
                  <span class="error" *ngIf="checkFormControlInvalid('applicationStartDate', formStructure)">
                <i class="ic-error"> </i>
                    {{ "applicationStartDate" | translate }}
                    {{ "isRequired" | translate }}
              </span>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label for="">{{"shortLogo" | translate }}
                      <i class="ic ic-info ml-1" title="{{'shortLogoInfo' | translate}}"></i>
                      <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input *ngIf="this.getPage() == 'create' || this.getPage() == 'edit'" #imageShortLogoInput
                               (change)="processCompanyLogoFile(imageShortLogoInput,'shortLogo')"
                               class="d-none imgUpload" id="img-upload" type="file"/>
                        <label (click)="showImage(tempShortLogoFile)" aria-describedby="inputGroupFileAddon02"
                               class="custom-file-label" for="img-upload">
                          <img *ngIf="tempShortLogoFile" height="20" src="{{tempShortLogoFile}}"
                               style="pointer-events: none"
                               width="20"/>
                          {{tempShortLogoFileName}}
                        </label>
                      </div>
                    </div>
                    <span *ngIf="checkFormControlInvalid('shortLogo',formStructure)" class="error">
                    <i class="ic-error"></i>
                      {{"shortLogo" | translate}}
                      {{ "isInValid" | translate }}
                  </span>
                  </div>
                </div>

                <div class="span-6">
                  <div class="form-group">
                    <label for="">{{"fullLogo" | translate }}
                      <i class="ic ic-info ml-1" title="{{'fullLogoInfo' | translate}}"></i>
                      <span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input *ngIf="this.getPage() == 'create' || this.getPage() == 'edit'" #imageFullLogoInput
                               (change)="processCompanyLogoFile(imageFullLogoInput,'fullLogo')"
                               class="d-none imgUpload" id="img-upload1" type="file"/>
                        <label (click)="showImage(tempFullLogoFile)" aria-describedby="inputGroupFileAddon02"
                               class="custom-file-label" for="img-upload1">
                          <img *ngIf="tempFullLogoFile" height="20" src="{{tempFullLogoFile}}"
                               style="pointer-events: none"
                               width="20"/>
                          {{tempFullLogoFileName}}
                        </label>
                      </div>
                    </div>
                    <span *ngIf="checkFormControlInvalid('fullLogo',formStructure)" class="error">
                    <i class="ic-error"></i>
                      {{"fullLogo" | translate}}
                      {{ "isInValid" | translate }}
                  </span>
                  </div>
                </div>
                <div class="span-6">
                  <div class="form-group">
                    <label for="">{{"favIcon" | translate }}
                      <i class="ic ic-info ml-1" title="{{'favIconInfo' | translate}}"></i>
                      <span class="text-danger">*</span>
                    </label>

                    <div class="input-group">
                      <div class="custom-file">
                        <input *ngIf="this.getPage() == 'create' || this.getPage() == 'edit'" #imageFaviconLogoInput
                               (change)="processCompanyLogoFile(imageFaviconLogoInput,'favIcon')"
                               class="d-none imgUpload" id="img-upload1-1" type="file"/>
                        <label (click)="showImage(tempFaviconLogoFile)" aria-describedby="inputGroupFileAddon02"
                               class="custom-file-label" for="img-upload1-1">
                          <img *ngIf="tempFaviconLogoFile" height="20" src="{{tempFaviconLogoFile}}"
                               style="pointer-events: none"
                               width="20"/>
                          {{tempFaviconLogoFileName}}
                        </label>
                      </div>

                    </div>

                    <span *ngIf="checkFormControlInvalid('favIcon',formStructure)" class="error">
                    <i class="ic-error"></i>
                      {{"favIcon" | translate}}
                      {{ "isInValid" | translate }}
                  </span>
                  </div>
                </div>


                <div class="span-6 form-group">
                  <label for="status">{{'status' | translate}}
                    <span class="text-danger">*</span></label>
                  <select class="custom-select" id="status" formControlName="status">
                    <option value="" disabled>{{ "select" | translate}}</option>
                    <option *ngFor="let s of status" [ngValue]="s['id']">
                      {{ s['name'] | translate }}</option>
                  </select>
                  <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                    {{ "status" | translate }}
                    {{ "isRequired" | translate }}
              </span>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #contentimglg let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{'View Picture' | translate}}</h4>
    <a (click)="modal.dismiss('cross click')" aria-label="Close" class="ic-close text-black small"
       href="javascript:void(0)">
    </a>
  </div>
  <div class="modal-body">
    <img height="300" id="showImage" [src]="displayImage" width="500"/>
  </div>
</ng-template>
