<aside class="sidebar">
  <div class="align-vertical">
    <div class="sidebar-logo my-2">

      <img (click)="navigateToDashboard()" [src]="this.currentUser.getCurrentCompany() && this.currentUser.getCurrentCompany()['shortLogo']?
        this.currentUser.getCurrentCompany()['shortLogo']:environment.defaultImagePath" height="50"/>

    </div>
    <p class="text-white font-bold ml-2">{{ environment.defaultCompany | translate}}</p>
  </div>

  <form [formGroup]="searchForm">
    <div class="search--input">
      <div class="form-group-icon">
        <ng-template #engLang>
          <input id="searchMenuByCode"
                 formControlName="searchBox" (keyup)="searchMenuByCode($event)"
                 type="search" class="form-control"/>
        </ng-template>
        <input *ngIf="translate.currentLang=='np';else engLang" nepaliUnicode id="searchMenuByCode"
               formControlName="searchBox" (keyup)="searchMenuByCode($event)"
               type="search" class="form-control"/>
        <i class="ic-search"></i>
      </div>
    </div>
  </form>
  <ul class="list list-sidebar">
    <li *ngFor="let menu of allMenus; let i = index">
      <a data-toggle="collapse" href="#menu{{ i + 5 }}" role="button" [attr.aria-expanded]="'true'" class="hasSub"
         *ngIf="menu['children'] && menu['children'].length > 0"><span
        class="ic-meter mr-2"></span>{{ menu["menuname"] |
        englocal: menu["menunamelocal"] }}</a>

      <ul class="list list-sidebar menu__collapsable-sub collapse {{'show'}}" id="menu{{ i + 5 }}">
        <li *ngFor="let child of menu['children']">
          <a data-toggle="collapse" href="#child{{ i + 5 }}" role="button" aria-expanded="false" class="hasSub"
             *ngIf="child['children'] && child['children'].length > 0"><span class="ic-meter mr-2"></span>{{
            child["menuname"] | englocal: child["menunamelocal"] }}</a>

          <ul class="menu__collapsable-sub collapse" id="child{{ i + 5 }}">
            <li *ngFor="let subChild of child['children']">
              <a routerLinkActive="active" (click)="navigateToMenu(subChild)" [routerLink]="subChild.url"
                 [title]="subChild['menucode']">
                {{ subChild["menuname"] | englocal: subChild["menunamelocal"] }}</a>
            </li>
          </ul>
          <a routerLinkActive="active" (click)="navigateToMenu(child)" [title]="child['menucode']"
             *ngIf="child['isPermission']!=false" [routerLink]="child.url">{{ child["menuname"] | englocal:
            child["menunamelocal"] }}</a>
        </li>
      </ul>
      <a *ngIf="menu['children'].length == 0" routerLinkActive="active" (click)="navigateToMenu(menu)"
         [routerLink]="menu.url" [title]="menu['menucode']">
        <span class="ic-meter mr-2"></span>{{ menu["menuname"] | englocal: menu["menunamelocal"] }}
      </a>
    </li>
  </ul>
</aside>
