.login {
  &-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      #f1f6ff 50%,
      $blue-80 0%,
      $blue-80 100%
    );
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-heading {
    color: $primary;
  }
  &-card {
    width: 100%;
    max-width: 360px;
    margin: auto;
    padding: 1rem;
    img {
      height: 80px;
      margin: auto;
      display: block;
    }
  }
}

// .viewPassword {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 1rem;
//   color: $gray-300;
//   cursor: pointer;
// }
// .viewUserPassword {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 1rem;
//   color: #858585;
//   cursor: pointer;
// }
