.welcome {
  &-header {
    background-color: $blue;
    padding: 1.5rem 0;
  }
  &-container{
    display:flex;  
    justify-content: space-between;
    flex-direction: column;
    
    @include media-breakpoint-up(sm){
        flex-direction: row;
    }

    .logo{
        margin: auto;
        @include media-breakpoint-up(sm){
            margin: unset;
        }
    }

  }
  &-auth{
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      @include media-breakpoint-up(sm){
        margin-top: 0;
    }
      .avatar-xl{
          margin-right: 1rem;
          @include media-breakpoint-down(xs){
              width: 3rem;
              height: 3rem;
          }
      }
      .textbox{
          color: white;
      }
      i,svg{
          color: $white;
          @include des;
      }
  }
  &-heading{
      display: flex;
      justify-content: space-between;
      color: $dark;
      padding: 1.5rem;
      border-bottom: 1px solid #E0E0E0;
      margin-bottom: 2.5rem;
      @include media-breakpoint-down(xs){
          margin-bottom: 1.5rem;
      }
  }
  &-card {
      margin-bottom: 3rem;
      .box{
          width: 100%;
          height: 124px;
          display: flex;
          align-items: center;
          justify-content: center;  
          background-color: rgba($blue-200,.16);
          margin-bottom: 1rem;
          img{
              max-width: 100%;
          }
          h6{
              color: $dark;
              @include small;
          }
      }
      @include media-breakpoint-down(xs){
          max-width: 240px;
          margin: auto;
          margin-bottom: 1.5rem;
      }
  }
}
