<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'localBody'"></menu-header-name>

      </div>
      <div>
        <app-buttons (exit)="goToPreviousPage()" [button]="{exit:true}"></app-buttons>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-body">
        <div id="confirmDeletion"></div>
        <form [formGroup]="formStructure" (ngSubmit)="onSubmit()">
          <div class="form-grid form-grid-inline">
            <div class="form-group span-4">
              <label for="name">{{ "name" | translate }}
                <span class="text-danger">*</span></label>
              <input autocomplete="off" class="form-control" formControlName="name"
                     id="name" type="text"/>
              <span class="error" *ngIf="checkFormControlInvalid('name', formStructure)">
               <i class="ic-error"></i>
                {{ "name" | translate }}
                {{ "isRequired" | translate }}
             </span>
            </div>
            <div class="form-group span-4">
              <label for="namelocal">{{ "nameLocal" | translate }}
                <span class="text-danger">*</span></label>
              <input nepaliUnicode autocomplete="off" class="form-control" formControlName="namelocal"
                     id="namelocal" type="text"/>
              <span class="error" *ngIf="checkFormControlInvalid('namelocal', formStructure)">
               <i class="ic-error"></i>
                {{ "nameLocal" | translate }}
                {{ "isRequired" | translate }}
             </span>
            </div>
            <div class="span-4 form-group">
              <label for="">{{'district' | translate}}
                <span class="text-danger">*</span></label>
              <div class="input-group">
                <input type="text" class="form-control" id="districtname" formControlName="districtname"/>
                <div class="input-group-append">
                  <button [disabled]="this.formStructure.disabled" (click)="fetchDistrictData()" class="btn btn-primary" type="button"
                          id="button-addon1">
                    <i class="ic-search align-middle"></i>
                  </button>
                </div>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('districtid', formStructure)">
               <i class="ic-error"></i>
                {{ "district" | translate }}
                {{ "isRequired" | translate }}
             </span>
            </div>
            <div class="span-4 form-group">
              <label for="localbodytypeid">{{'type' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="localbodytypeid" formControlName="localbodytypeid">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of localBodyType" [ngValue]="s['id']" lang="np">
                  {{ s['localBodyTypeName'] | englocal : s['localBodyTypeNameLocal']  }}</option>

              </select>
              <span class="error" *ngIf="checkFormControlInvalid('localbodytypeid', formStructure)">
                <i class="ic-error"></i>
                {{ "type" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label for="status">{{'status' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s['name'] | translate}}</option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
          </div>

          <div class="text-right mt-2">
            <app-buttons
              (reset)="resetClicked($event)"
              (delete)="deleteClicked($event)"
              [button]="buttonAccess">
            </app-buttons>
          </div>
        </form>


      </div>
    </div>

    <div class="card card-100">
      <app-pqgrid [columns]="columns" [data]="fetchedData"
                  [pagination]="true" [remotePaging]="true" [remoteUrl]="remoteUrl"></app-pqgrid>
    </div>
  </div>


  <ng-template #districtContent let-modal>
    <div class="modal-header modal-header-blue">
      <h4 class="modal-title" id="modal-basic-title">{{ 'district' | translate }}</h4>
      <a href="javascript:void(0)" class="ic-close text-black small" aria-label="Close"
         (click)="modal.dismiss('Cross click')">
      </a>
    </div>
    <div class="modal-body">
      <app-pqgrid [data]="districtList" [pagination]="true" [remotePaging]="true"
                  [searchBox]="true" [remoteUrl]="remoteDistrictUrl"
                  (selectedRowData)="getSelectedDistrict($event, modal)"
                  [columns]="districtColumns"></app-pqgrid>
    </div>
  </ng-template>
