<h6  *ngIf="this.pageName=='create' || this.pageName=='edit'" class="text-black font-bold">
  {{'collectDocument' |  translate}}
</h6>

<form *ngIf="this.pageName=='create' || this.pageName=='edit'" [formGroup]="documentUpload" class="mb-2">
  <div class="form-grid mt-2">
    <div class="span-2">
      <div class="form-group">
        <label>{{"documentType" | translate}}<span class="text-danger">*</span></label>
        <select (change)="onDocumentTypeChange($event)" formControlName="documentTypeId"
                class="custom-select" name="select">
          <option disabled value="">{{"select" | translate}}</option>
          <option *ngFor="let value of documentTypeList"
                  [value]="value['id']">{{ translate.currentLang == 'np' ? value['namelocal'] : value['name']}}</option>
        </select>
      </div>
      <span *ngIf="checkFormControlInvalid('documentTypeId', documentUpload)" class="error">
        <i class="ic-error"></i>
        {{"documentType" | translate}}
        {{ "isInValid" | translate }}</span>
    </div>
    <div class="span-3">
      <div class="form-group">
        <label>{{"documentTitle"| translate}}
          <span class="text-danger">*</span></label>
        <input formControlName="docTitle" class="form-control" type="text"/>
      </div>
      <span *ngIf="checkFormControlInvalid('docTitle', documentUpload)" class="error">
        <i class="ic-error"></i>
        {{"documentTitle"| translate}}
        {{ "isInValid" | translate }}</span>
    </div>
    <div class="span-2">
      <div class="form-group">
        <label>{{"documentNumber" | translate}}</label>
        <input formControlName="docNo" class="form-control" type="text"/>
      </div>
    </div>
    <div class="span-3">
      <div class="form-group">
        <label for="">{{ "documentFile" | translate }} <span class="text-danger">*</span></label>
        <div class="input-group">
          <div class="custom-file">
            <input #imageInput (change)="processFile(imageInput)"
                   class="d-none imgUpload" id="img-upload2" type="file"/>
            <label aria-describedby="inputGroupFileAddon02" class="custom-file-label" for="img-upload2">
              {{tempFileName}}
            </label>
          </div>
        </div>
        <span *ngIf="checkFormControlInvalid('documentFile',documentUpload)" class="error">
          <i class="ic-error"></i>
          {{"documentFile" | translate}}
          {{ "isInValid" | translate }}
        </span>
      </div>
    </div>
    <div *ngIf="(currentUser.hasMenuActionPermission(environment.menuActions.create) ||
        currentUser.hasMenuActionPermission(environment.menuActions.update))"
         class="span-2">
      <div class="form-group">
        <label>&nbsp;</label>
        <button (click)="onAddDocument()" class="btn btn-primary">
          {{ "addDoc" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>


<app-pqgrid [data]="documentList" [columns]="documentColumns" [searchBox]="true" [delayTimer]="delayTimer"></app-pqgrid>


<ng-template #contentImgLg let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{'viewPicture' | translate}}</h4>
    <a (click)="modal.dismiss('cross click')" aria-label="Close" class="ic-close text-black small"
       href="javascript:void(0)">
    </a>
  </div>
  <div class="modal-body">
    <img height="300" id="showImage" [src]="displayImage" width="500"/>
  </div>
</ng-template>


<ng-template #contentPdfLg let-modal>
  <div class="modal-header modal-header-blue">
    <h4 class="modal-title" id="modal-basic-title">{{'viewPDF' | translate}}</h4>
    <a (click)="modal.dismiss('cross click')" aria-label="Close" class="ic-close text-black small"
       href="javascript:void(0)">
    </a>
  </div>
  <div class="modal-body">
    <embed [src]="displayPdf" width="1000" height="400"/>
  </div>
</ng-template>
