<div class="login-wrapper">
  <div class="login-container">
    <div class="login-card">
<!--      <img src="./assets/img/province_4.jpg" alt="NID">-->
      <img [src]="this.currentUser.getCurrentCompany() && this.currentUser.getCurrentCompany()['fullLogo']?
        this.currentUser.getCurrentCompany()['fullLogo']:environment.defaultImagePath"/>

      <h6 class="login-heading text-center mt-2">{{ environment.defaultCompany |  translate}}</h6>
      <div class="card card_rounded p-4 mt-4">
        <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">
<!--          <h5 class="mb-4 text-navy-40 font-bold">-->
          <!--            {{ "forgotPwd" | translate }}?-->
          <!--          </h5>-->
          <h6 class="login-heading text-center mb-4">
            {{ "forgotPwd" | translate }}
          </h6>
          <div class="form-group">
            <label class="text-navy-40">{{"email" | translate}}</label>
            <input type="text" class="form-control" name="email" formControlName="email"
                   placeholder="{{ 'email' | translate }}" value=""/>
            <span class="error" *ngIf="checkFormControlInvalid('email', forgotPwdForm)">
              <i class="ic-error"> </i>
              {{ "email" | translate }}
              {{ "isRequired" | translate }}
            </span>

          </div>
          <div class="form-group mb-3">
            <label class="text-navy-40">{{"usernameOrEmail" | translate}}</label>
            <input type="text" class="form-control" name="username" formControlName="username"
                   placeholder="{{ 'usernameOrEmail' | translate }}" value=""/>
            <span class="error" *ngIf="checkFormControlInvalid('username', forgotPwdForm)">
              <i class="ic-error"> </i>
              {{ "usernameOrEmailValidataion" | translate }}
            </span>

          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block text-white">
              {{ "submit" | translate }}
            </button>
          </div>
          <div class="text-right mt-2">
            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">
              <i class="ic-arrow-line-left mr-1"></i> {{ "backToLogin" | translate }}
            </a>
          </div>

          <p class="mt-3">
            {{'changeLanguage' | translate}} :
            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"
               (click)="useLanguage('np')">नेपा</a>
            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="container-fluid login-wrapper">-->
<!--  <div class="d-flex h-100 align-items-center justify-content-center">-->
<!--    <div class="row login-box">-->
<!--      <div class="col-lg-5 login-box-left d-none d-lg-block">-->
<!--        <h5 class="font-weight-normal mb-4">{{'welcometo'}}</h5>-->
<!--        <h5 class="font-bold login-box-text">-->
<!--          {{ "projectTitle" | translate }}-->
<!--        </h5>-->
<!--      </div>-->
<!--      <div class="col-lg-7 login-box-right">-->
<!--        <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">-->
<!--          <div class="logo-box">-->
<!--            <img [src]="environment.defaultImagePath" [alt]="environment.defaultImagePath" height="76"/>-->
<!--          </div>-->
<!--          <h5 class="mb-4 text-navy-40 font-bold">-->
<!--            {{ "forgotPwd" | translate }}?-->
<!--          </h5>-->
<!--          <div class="form-group">-->
<!--            <label class="text-navy-40">{{"email" | translate}}</label>-->
<!--            <input type="text" class="form-control" name="email" formControlName="email"-->
<!--                   placeholder="{{ 'email' | translate }}" value=""/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('email', forgotPwdForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "email" | translate }}-->
<!--              {{ "isRequired" | translate }}-->
<!--            </span>-->

<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label class="text-navy-40">{{"usernameOrEmail" | translate}}</label>-->
<!--            <input type="text" class="form-control" name="username" formControlName="username"-->
<!--                   placeholder="{{ 'usernameOrEmail' | translate }}" value=""/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('username', forgotPwdForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "usernameOrEmailValidataion" | translate }}-->
<!--            </span>-->

<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block text-white">-->
<!--              {{ "forgotPwd" | translate }}-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="text-right mt-2">-->
<!--            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">-->
<!--              <i class="ic-arrow-line-left mr-1"></i> {{ "backToLogin" | translate }}-->
<!--            </a>-->
<!--          </div>-->

<!--          <p class="mt-3">-->
<!--            {{'changeLanguage'}} :-->
<!--            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"-->
<!--               (click)="useLanguage('np')">नेपा</a>-->
<!--            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>-->
<!--          </p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<ng-template #requestSuccess let-modal>
  <div class="modal-alert">
    <div class="card">
      <div class="card-body">
        <i class="ic-mail h1 text-success"></i>
        <p class="alert-desc"> {{responseData['message']}}</p>
        <div>
          <button (click)="cancelBtnClick()" class="btn btn-outline outline-hover-green" id="cancelBtn">
            {{'Ok'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
