<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'documentType'"></menu-header-name>

      </div>
      <div>
        <app-buttons (exit)="goToPreviousPage()" [button]="{exit:true}"></app-buttons>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <div id="confirmDeletion"></div>
        <form [formGroup]="formStructure" (ngSubmit)="onSubmit()">
          <div class="form-grid form-grid-inline">
            <div class="form-group span-4">
              <label for="name">{{ "name" | translate }}
                <span class="text-danger">*</span></label>
              <input autocomplete="off" class="form-control" formControlName="name"
                     id="name" type="text"/>
              <span class="error" *ngIf="checkFormControlInvalid('name', formStructure)">
               <i class="ic-error"></i>
                {{ "name" | translate }}
                {{ "isRequired" | translate }}
             </span>
            </div>
            <div class="form-group span-4">
              <label for="namelocal">{{ "nameLocal" | translate }}
                <span class="text-danger">*</span></label>
              <div class="form-group-icon">
                <input nepaliUnicode autocomplete="off" class="form-control" formControlName="namelocal"
                       id="namelocal" type="text"/>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('namelocal', formStructure)">
              <i class="ic-error"></i>
                {{ "nameLocal" | translate }}
                {{ "isRequired" | translate }}
          </span>
            </div>

            <div class="form-group span-4">
              <label for="maxfilesizeinkb">{{ "maxFileSizeInKb" | translate }}
                <span class="text-danger">*</span></label>
              <div class="form-group-icon">
                <input autocomplete="off" class="form-control" formControlName="maxfilesizeinkb"
                       id="maxfilesizeinkb" type="number"/>
              </div>
              <span class="error" *ngIf="checkFormControlInvalid('maxfilesizeinkb', formStructure)">
              <i class="ic-error"></i>
                {{ "maxFileSizeInKb" | translate }}
                {{ "isRequired" | translate }}
          </span>
            </div>

            <div class="span-4 form-group">
              <label for="isimageallowed">{{ "isImageAllowed" | translate }} <span
                class="text-danger">*</span></label>
              <select id="isimageallowed" class="custom-select"
                      formControlName="isimageallowed">
                <option value="" selected disabled>{{"select" |translate}}</option>
                <option value="true">{{"Yes" | translate }}</option>
                <option value="false">{{"No" | translate}} </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('isimageallowed', formStructure)">
                <i class="ic-error"> </i>
                {{ "isImageAllowed" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

            <div class="span-4 form-group">
              <label for="isexcelallowed">{{ "isExcelAllowed" | translate }} <span
                class="text-danger">*</span></label>
              <select id="isexcelallowed" class="custom-select"
                      formControlName="isexcelallowed">
                <option value="" selected disabled>{{"select" |translate}}</option>
                <option value="true">{{"Yes" | translate }}</option>
                <option value="false">{{"No" | translate}} </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('isexcelallowed', formStructure)">
                <i class="ic-error"> </i>
                {{ "isExcelAllowed" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

            <div class="span-4 form-group">
              <label for="isslideallowed">{{ "isSlideAllowed" | translate }} <span
                class="text-danger">*</span></label>
              <select id="isslideallowed" class="custom-select"
                      formControlName="isslideallowed">
                <option value="" selected disabled>{{"select" |translate}}</option>
                <option value="true">{{"Yes" | translate }}</option>
                <option value="false">{{"No" | translate}} </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('isslideallowed', formStructure)">
                <i class="ic-error"> </i>
                {{ "isSlideAllowed" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

            <div class="span-4 form-group">
              <label for="ispdfallowed">{{ "isPdfAllowed" | translate }} <span
                class="text-danger">*</span></label>
              <select id="ispdfallowed" class="custom-select"
                      formControlName="ispdfallowed">
                <option value="" selected disabled>{{"select" |translate}}</option>
                <option value="true">{{"Yes" | translate }}</option>
                <option value="false">{{"No" | translate}} </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('ispdfallowed', formStructure)">
                <i class="ic-error"> </i>
                {{ "isPdfAllowed" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
            <div class="span-4 form-group">
              <label for="status">{{'status' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s['name'] | translate }}</option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
          </div>
          <div class="text-right mt-2">
            <app-buttons
              (reset)="resetClicked($event)"
              (delete)="deleteClicked($event)"
              [button]="buttonAccess">
            </app-buttons>
          </div>
        </form>


      </div>
    </div>

    <div class="card card-100">
      <app-pqgrid [data]="fetchedData" [columns]="columns"></app-pqgrid>

    </div>
  </div>


