.pq {
  &-theme {
    &.pq-grid.ui-widget {
      overflow: hidden;
      position: relative;
      z-index: 0;
      box-sizing: border-box;
      border: 1px solid $pq-grid-border-color;

      //for table height [used when export feature was added]
      display: flex;
      flex-direction: column;

      &.ui-widget-content {
        min-height: 200px;
      }
    }

    &:focus {
      outline: none;
    }

    * {
      box-sizing: inherit;
      line-height: normal;
      font-family: inherit;
      font-size: inherit;
    }

    select {
      width: auto;
      height: auto;
    }

    input {
      font-weight: 400;
      margin-bottom: 0;

      &[type] {
        font-weight: 400;
        margin-bottom: 0;
      }

      &[type="checkbox"],
      &[type="radio"] {
        width: 14px;
        height: 14px;
        padding: 0;
        margin-bottom: 0;
        vertical-align: middle;
        position: relative;
        top: -1px;
      }

      &[type="checkbox"] {
        margin-right: 4px;
      }
    }

    label,
    select,
    textarea {
      font-weight: 400;
      margin-bottom: 0;
    }

    & > .pq-grid-top {
      border-width: 0 0 1px;
      border-style: solid;
      border-color: $pq-grid-border-color;
      margin-top: -1px;
      position: relative;

      background: $pq-grid-top-bg-color;
      color: $pq-grid-top-color;
    }

    .pq-search-txt {
      overflow: visible;
      padding: 1px 4px;
    }

    input[type="text"],
    select,
    textarea {
      border: $input-border-width solid $input-border-color;
      padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
      font-size: $input-btn-font-size;
      border-radius: $input-border-radius;
      box-shadow: $input-box-shadow;

      &:focus {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-box-shadow;
        outline: none;
      }
    }

    textarea {
      overflow: auto;
    }

    & > .pq-grid-bottom {
      border-width: 1px 0 0;
      top: 1px;
      overflow: hidden;
      border-style: solid;
      border-color: transparent;
      font-weight: 400 !important;
      position: relative;

      background: $pq-grid-bottom-bg-color;
      color: $pq-grid-bottom-color;
    }

    .pq-align-center {
      text-align: center;

      * {
        text-align: center;
      }
    }

    .pq-grid-cont {
      .ui-state-hover {
        font-weight: 400;
      }
    }

    .pq-col-drag-helper {
      padding: 1px 5px 4px 3px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

      .pq-drag-icon {
        height: 16px;
        width: 16px;
        margin-right: 5px;
        margin-top: 1px;
        float: left;
      }
    }

    // .pq-drop-hover {
    //   background-image: url(.);
    // }

    .pq-cell-blue-tr:after,
    .pq-cell-dirty:after,
    .pq-cell-red-tr:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0.35em solid transparent;
      border-top-color: red;
    }

    .pq-cell-dirty:after {
      left: 0;
      border-left-color: red;
    }

    .pq-cell-red-tr:after {
      right: 0;
      border-right-color: red;
    }

    .pq-cell-blue-tr:after {
      right: 0;
      border-top-color: blue;
      border-right-color: blue;
    }

    span {
      &.pq-separator {
        height: 18px;
        border-left: 1px solid #ccc;
        display: inline-block;
        position: relative;
        margin: 0 6px;
      }
    }

    .ui-button-icon-only {
      width: 24px;
      margin-right: 5px;
      padding: 0.5em 0;
    }

    label {
      display: inline-block;
    }

    .ui-icon {
      background-image: $pq-grid-ui-icon-sprite;
      display: inline-block;
    }

    .ui-button {
      &-action {
        padding: $ui-action-btn-py $ui-action-btn-px;
        font-size: $ui-action-font-size;
        background: $ui-action-btn-bg-color;
        border: $ui-action-btn-border-width solid $ui-action-btn-border-color;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }

        &:hover,
        &:focus {
          background-color: $ui-action-btn-hover-bg-color;
          border: $ui-action-btn-border-width solid $ui-action-btn-border-color;
          color: $ui-action-btn-hover-color;
        }
      }
    }
  }

  &-resize {
    &-iframe {
      margin: 0;
      border: 0;
    }
  }

  &-body {
    &-outer {
      &:focus {
        outline: none !important;
        border: none !important;
      }
    }
  }

  &-table {
    & > .pq-grid-row {
      & > .pq-grid-cell.pq-focus {
        border: 1px solid #666;
      }
    }
  }

  &-disabled {
    &-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }

  &-native {
    &-select {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      -o-user-select: text;
      user-select: text;
    }
  }

  &-slider {
    &-icon {
      position: absolute;
      z-index: 4;
      right: 0;
      top: 4px;
    }
  }

  &-grid {
    &-title {
      padding: $pq-grid-title-padding-y $pq-grid-title-padding-x;
      font-weight: $pq-grid-title-font-weight;
      // &-row{
      //   background: $pq-grid-title-row-bg-color;
      //   color: $pq-grid-title-row-color;
      // }
    }

    .pq-icon-hover {
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 18px;
      width: 18px;
      font-size: 10px;
      vertical-align: middle;
    }

    &-center {
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      margin-bottom: -1px;

      .pq-theme {
        input[type="text"],
        select,
        textarea {
          width: 100%;
        }
      }
    }

    &-row {
      position: absolute;
      border-color: $pq-grid-border-color;

      > .pq-grid-cell {
        border: 1px solid transparent;

        &:last-child {
          padding-right: 1.5rem;
        }
      }

      > .pq-grid-col {
        border-left-color: transparent;
        background-color: $pq-grid-header-bg-color;
      }

      &:not(:last-child) > .pq-grid-col {
        border-bottom-color: transparent;
      }

      &:first-child > .pq-grid-col {
        border-top-color: transparent;
      }

      &:last-child {
        > {
          .pq-grid-col {
            border-bottom-width: 0;
          }
        }
      }

      & > .pq-grid-number-cell {
        border-top-width: 0;
        border-right: 1px solid $pq-grid-border-color;
        overflow: hidden;
        font-weight: 400;
        text-align: right;
        position: absolute;
        left: 0;
        top: 0;
      }

      &.pq-striped {
        background: $pq-grid-row-striped-bg;
      }

      &.pq-grid-row-hover {
        &.ui-state-hover {
          background-color: $pq-grid-row-active-bg;
          color: $pq-grid-row-active-color;

          // only for specific requirements *remove if not needed.
          &:not(.active) {
            background-color: $pq-grid-row-hover-bg;

            .pq-grid-cell {
              &:hover {
                background-color: $pq-grid-cell-hover-bg;
              }
            }
          }
        }
      }

      // only for specific requirements *remove if not needed.
      &.active {
        background-color: $pq-grid-row-active-bg;
        color: $pq-grid-row-active-color;
      }

      &.edited {
        position: relative;
        font-weight: map-get($font-weight, bolder);

        &::before {
          content: "*";
          position: absolute;
          top: -4px;
          left: 32px;
          color: red;
          z-index: 16;
          font-size: 20px;
        }
      }
    }

    &-header {
      &-inner {
        position: relative;
      }

      &-left {
        overflow: hidden;
      }

      &-table {
        input,
        select,
        textarea {
          color: initial;
        }

        .pq-td-div {
          position: relative;
          float: left;
          width: 100%;
          overflow: hidden;
        }

        & > tbody > tr > .pq-grid-col {
          border-width: 0 1px 1px 0;
          border-style: solid;
        }

        .pq-grid-col {
          border-right: 1px solid $pq-grid-header-border-color;
        }

        .pq-grid-number-cell {
          color: white;
          text-align: center;
        }
      }

      &-search {
        &-row {
          & > .pq-grid-col {
            & > .pq-td-div {
              display: block;
            }
          }

          .pq-grid-hd-search-field {
            width: 100%;
            box-sizing: border-box;
          }

          .pq-from-div {
            float: left;
            padding-right: 3px;
            width: 50%;
            box-sizing: border-box;
          }

          .pq-to-div {
            float: right;
            padding-left: 3px;
            width: 50%;
            box-sizing: border-box;
          }
        }
      }
    }

    &-norows {
      position: absolute;
      left: 0;
      top: 5px;
      text-align: center;
      width: 100%;
    }

    &-col {
      border: 1px solid $pq-grid-header-border-color;
      overflow: hidden;
      font-weight: 400;
      text-align: $pq-grid-head-col-align;

      &-resize {
        &-handle {
          cursor: col-resize;
          width: 10px;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: 2;
        }
      }

      &-leaf {
        cursor: grab;

        .pq-title-span {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    &-cell {
      text-align: $pq-grid-cell-align;
    }

    &-drag {
      &-bar {
        position: absolute;
        width: 1px;
        z-index: 100;
        top: 0;
        background-color: #000;
      }
    }

    &-cell {
      &.pq-group-title-cell * {
        text-align: left;
      }

      label {
        text-indent: 0;
      }

      & > div {
        white-space: inherit;
        text-overflow: inherit;
        overflow: inherit;
      }

      &[title]:not(.pq-cell-red-tr) {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          border: 0.35em solid transparent;
          border-top-color: #4682b4;
          border-right-color: #4682b4;
          font-size: 10px;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &-cell,
    &-col {
      position: absolute;
      padding: $pq-grid-cell-padding-y $pq-grid-cell-padding-x;
      overflow: hidden;
      text-decoration: inherit;

      > {
        padding: 3px;
      }
    }

    &-number {
      &-cell,
      &-col {
        padding: 3px;
      }

      &-col {
        border-right: 1px solid #cfcfcf;
        padding: 4px 5px;
        text-align: right;
      }
    }

    &-summary {
      position: relative;
      overflow: hidden;
      border-top: 1px solid transparent;
      margin-top: -1px;
    }

    &-overlay {
      border-width: 1px;
      border-style: solid;
      position: absolute;
      z-index: 1;
      pointer-events: none;

      &.cell {
        border-width: 0;
      }
    }

    &-header-search-row,
    &-top.ui-widget-header {
      font-weight: 400;
    }

    &-bottom {
      select {
        color: initial;
      }
    }

    .ui {
      &-menu {
        .pq-menu-item.ui-menu-item {
          padding: 0;
        }
      }

      &-state {
        &-active,
        &-focus {
          &.ui-menu-item {
            border: 1px solid transparent;
          }
        }
      }

      &-icon {
        &.pq-col-sort-icon {
          vertical-align: bottom;
        }
      }

      &-button {
        // padding: $btn-padding-y $btn-padding-x;
        // line-height: $btn-line-height;
        // font-weight: $btn-font-weight;
        // box-shadow: $btn-box-shadow;
        // border-width: $btn-border-width;
        // border-radius: $btn-border-radius;

        // &:disabled{
        //   opacity: $btn-disabled-opacity;
        // }

        &-icon {
          padding: $ui-action-btn-py $ui-action-btn-px;
          font-size: $ui-action-font-size;
          background-color: $ui-action-btn-bg-color;
          border: $ui-action-btn-border-width solid $ui-action-btn-border-color;
        }
      }
    }
  }

  &-group {
    &-header {
      border-top: 1px solid transparent;
      zoom: 1;
      padding: 3px 5px;
      position: relative;

      &.pq-drop-hover {
        cursor: copy;
      }
    }

    &-menu {
      position: relative;
      float: right;
      border-radius: 3px;
      white-space: nowrap;
    }

    &-placeholder {
      padding: 4px;
      color: #777;
    }

    &-item {
      display: inline-block;
      float: left;
      white-space: nowrap;
      border: 1px solid #bfbfbf;
      padding: 4px 5px;
      border-radius: 4px;
      margin-right: 10px;
      position: relative;
      cursor: pointer;

      & > {
        .ui-icon {
          margin: -3px;
        }

        .pq {
          &-group {
            &-remove {
              display: inline-block;
              border-radius: 5px;
              margin-left: 3px;
              border: 1px solid transparent;
              width: 18px;
              height: 17px;
              font-weight: 700;
            }

            &-toggle {
              display: inline-block;
              border-radius: 5px;
              margin-left: 3px;
              border: 1px solid transparent;
              width: 18px;
              height: 17px;
              font-weight: 700;
              margin-left: 0;
              margin-right: 3px;
            }
          }
        }
      }
    }

    &-title {
      &-cell {
        .pq-group-icon {
          cursor: pointer;
          border: 1px solid transparent;
          border-radius: 4px;
          height: 18px;
          width: 18px;
          font-size: 10px;
          vertical-align: middle;
          position: relative;
          margin: -2px 1px -2px 0;
        }

        .pq-tree-icon {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  &-toolbar {
    border-top: 1px solid transparent;
    padding: 8px 4px;
    zoom: 1;
    overflow: hidden;
    text-align: left;

    > {
      .pq-separator,
      button,
      div,
      input,
      label,
      p,
      select,
      span,
      textarea {
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: middle;
      }

      label > textarea {
        vertical-align: middle;
      }
    }

    textarea {
      resize: none;
    }

    input,
    select,
    textarea {
      color: initial;
    }
  }

  &-draggable {
    cursor: move;
  }

  &-header {
    &-outer {
      position: relative;
      border-top-width: 0 !important;
      border-left-width: 0 !important;
      border-right-width: 0 !important;
      text-align: left;

      background: $pq-grid-header-bg-color;
      color: $pq-grid-header-color;
      border: 1px solid $pq-grid-header-border-color;

      .pq-grid-title-row {
        background: $pq-grid-header-bg-color;
        color: #ffffff;

        > .pq-grid-number-cell {
          background-color: $pq-grid-header-bg-color;
        }
      }

      .pq-grid-header-search-row {
        .pq-grid-col,
        > .pq-grid-number-cell {
          background: $pq-grid-search-header-bg-color;
        }
      }

      .pq-cont-right {
        overflow: hidden;
        background-color: $pq-grid-header-bg-color;
      }
    }
  }

  &-col {
    &-sort {
      &-icon {
        margin-right: -3px;
        min-width: 3px;
        display: inline-block;
      }

      &-count {
        font-weight: 400;
        width: 6px;
        font-size: 0.8em;
      }
    }

    &-filtered {
      .pq-menu-icon {
        opacity: 0.8;
        border: 1px solid #000;
      }

      .pq-filter-icon {
        opacity: 0.8;
      }
    }
  }

  &-space {
    &.pq-col-sort-icon {
      width: 16px;
    }

    &.pq-col-sort-count {
      display: inline-block;
    }
  }

  &-align {
    &-right,
    .pq-theme .pq-align-right * {
      text-align: right;
    }

    &-left {
      text-align: left;

      * {
        text-align: left;
      }
    }
  }

  &-valign {
    &-center {
      > {
        div {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &-bottom {
      > {
        div {
          position: relative;
          top: 100%;
          transform: translateY(-100%);
        }
      }
    }
  }

  &-cont {
    &-right {
      position: relative;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      height: 100%;
    }

    &-left {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
    }

    &-lt {
      border-right: 1px solid transparent;
    }

    &-lt,
    &-tr {
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      border-bottom: 1px solid transparent;
    }

    &-inner {
      z-index: 0;

      & > .pq-table {
        & > .pq-grid-row {
          border-width: 0;
          border-bottom: 1px solid $pq-grid-border-bottom-bg-color;
        }
      }
    }
  }

  &-summary {
    &-outer {
      border-top: 1px solid transparent;

      .pq-cont-right {
        overflow: hidden;
      }
    }
  }

  &-body {
    &-outer {
      .pq-cont-left {
        border-right: 1px solid transparent;
      }

      .pq-grid-row {
        > .pq-grid-number-cell {
          text-align: $pq-grid-number-cell-align;
          background-color: $pq-grid-number-cell-bg-color;
        }
      }
    }
  }

  &-table {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    &-left {
      width: 100%;
    }

    &-lt {
      width: 100%;
      height: 100%;
    }

    &-tr {
      height: 100%;
    }
  }

  &-has {
    &-menu {
      > {
        .pq-td-div {
          width: calc(100% - 20px);
        }
      }
    }
  }

  &-wrap {
    & > .pq-grid-row > {
      .pq-grid-cell,
      .pq-grid-col {
        word-wrap: break-word;
        white-space: normal;
      }
    }
  }

  &-no {
    &-wrap {
      & > .pq-grid-row > {
        .pq-grid-cell,
        .pq-grid-col > .pq-td-div {
          word-wrap: normal;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &-merge {
    &-cell {
      z-index: 1;
      background-color: inherit;
    }
  }

  &-loading {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;

    &-bg {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
    }
  }

  &-pager {
    padding: 4px 5px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid transparent;
    margin-top: -1px;

    & > span {
      vertical-align: middle;
      position: relative;
    }
  }

  &-page {
    &-current {
      height: 20px;
      width: 35px;

      color: initial;
      padding: 0 1px;
      text-align: center;
      border-width: 1px;
    }
  }

  &-arrow {
    &-down,
    &-up {
      position: absolute !important;
      z-index: 200;
    }
  }

  &-menu {
    &-item {
      & > label {
        padding: 3px 5px;
        text-indent: 0;
        width: 100%;
      }
    }

    &-icon {
      height: 12px;
      position: absolute;
      top: 5px;
      right: 4px;
      opacity: 1;
      width: 12px;
      background: url("/assets/img/pqgrid/menu.png");
      filter: invert(1); //black image to white conversion

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-tool {
    &-panel {
      width: 200px;
      float: right;

      &[panes="4"] .pq-pivot-pane {
        height: 20%;
      }

      &[panes="3"] .pq-pivot-pane {
        height: 25%;
      }

      .pq-pivot-cols-all.pq-pivot-pane,
      &[panes="2"] .pq-pivot-pane {
        height: 50%;
      }

      &[panes="4"] .pq-pivot-cols-all.pq-pivot-pane {
        height: 40%;
      }

      &[panes="1"] .pq-pivot-pane {
        height: 100%;
      }
    }
  }

  &-pivot {
    &-pane {
      padding: 2px;
      border: 1px solid #666;
      border-top: 0;
      border-right: 0;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      .pq-pivot-col {
        border-width: 1px 0 0;
        border-style: solid;
      }

      .pq-sortable {
        padding-top: 18px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: auto;
        position: absolute;
        background: #fff;
      }
    }

    &-label {
      position: absolute;
      background: inherit;
      left: 2px;
      top: 0;

      input[type="checkbox"] {
        margin-top: 2px;
      }
    }

    &-col {
      margin: 0;
      padding: 1px 4px;
      position: relative;
      cursor: move;

      &:last-child {
        border-bottom-width: 1px;
      }
    }

    &-rows {
      .pq-icon {
        height: 14px;
        width: 12px;
        margin: 2px 4px;
        float: left;
        background: url("/assets/img/pqgrid/row-group.png");
      }
    }

    &-cols {
      .pq-icon {
        height: 14px;
        width: 13px;
        margin: 2px 4px;
        float: left;
        background: url("/assets/img/pqgrid/pivot.png");
      }
    }

    &-vals {
      .pq-icon {
        height: 12px;
        width: 12px;
        margin: 2px 4px;
        float: left;
        background: url("/assets/img/pqgrid/sum.png");
      }
    }
  }

  &-deny {
    &-drag {
      cursor: not-allowed;
    }
  }

  &-head {
    &-overlay {
      border-width: 0;
    }

    &-menu {
      width: 250px;
    }
  }

  &-number {
    &-overlay {
      border-left-width: 0;
      border-right-width: 0;
      z-index: 3;
    }
  }

  &-filter {
    &-icon {
      width: 14px;
      height: 12px;
      background: url("/assets/img/pqgrid/filter.png");
      position: absolute;
      top: 5px;
      right: 4px;
      opacity: 0.3;
    }
  }

  &-filter,
  &-menu {
    &-icon {
      &:hover {
        opacity: 1;
      }
    }
  }

  &-tab {
    &-visible {
      &-icon {
        display: inline-block;
        width: 16px;
        background: url("/assets/img/pqgrid/eye.png");
        background-repeat: no-repeat;
        background-position: 50%;
        filter: invert(1); //black image to white conversion
      }
    }

    &-filter {
      &-icon {
        display: inline-block;
        width: 14px;
        background: url("/assets/img/pqgrid/filter.png");
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }

  &-popup {
    position: absolute !important;
    z-index: 10000;
    box-sizing: border-box;
    background: #fff;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 1px 4px 10px 0 rgb(0 0 0 / 16%);

    &:after {
      content: "";
    }

    * {
      box-sizing: inherit;
    }

    .ui-tabs-panel {
      padding: 0;
    }
  }

  &-cmenu {
    & > table {
      border-collapse: collapse;
    }

    &-item {
      background: #fff;

      & > td:not([colspan]) {
        padding: 4px;
      }

      &.pq_disabled {
        color: #aaa;
      }

      &:hover:not(.pq_disabled) {
        background: #ddd;
        cursor: pointer;
      }
    }
  }

  &-cell {
    &-disable {
      opacity: 0.7;
      text-shadow: 0 1px 0 #fff;
      cursor: not-allowed;
    }
  }

  &-slider {
    &-icon {
      top: $pq-slider-icon-top-offset;
    }
  }

  &-ui {
    &-button {
      &.ui-widget-header {
        background: transparent;
        border-width: 0;
        border-radius: 4px;
        margin: 1px;
        padding: 0 3px;
        cursor: pointer;
        font-size: 16px;
      }

      &:focus,
      &:hover {
        background-color: $pq-ui-button-hover-bg-color;
        // margin: 0;
        outline: none;
      }

      &.disabled {
        opacity: 0.3;
      }

      &-text {
        padding-top: $pq-grid-title-padding-y;
        padding-bottom: $pq-grid-title-padding-y;
      }
    }
  }

  &-body-outer .pq-cont-left,
  &-cont-lt,
  &-cont-tr,
  &-grid-cell,
  &-grid-row {
    border-color: $pq-grid-border-color;
  }

  &-loading-bg {
    background: #ccc;
  }
}

div {
  &.pq-body-outer {
    position: relative;
  }

  &.pq-grid-cont {
    overflow: hidden;
    border-top: 0;
    height: 100%;
    position: relative;
  }

  &.pq-editor-outer {
    border: 2px solid #666;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 5;
    display: table;
    color: #333;
  }

  &.pq-editor-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  &.pq-grid-disable {
    background: #ccc;
    z-index: 3;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &.pq-editor-inner > {
    div[contenteditable="true"] {
      overflow: auto;
    }

    .pq-cell-editor {
      padding: 2px 3px;
      width: 100%;
    }
  }

  &.pq-tooltip {
    padding: 3px 10px;
  }

  &.pq-loading-mask {
    width: 100px;
    height: 25px;
    z-index: 6;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -13px;
    box-sizing: content-box;

    > div {
      border: 1px solid transparent;
      padding-top: 0;
      padding-right: 6px;
      padding-left: 29px;
      line-height: 23px;
      background-image: url("/assets/img/pqgrid/loading.gif");
      background-position: 6px;
      background-repeat: no-repeat;
      white-space: nowrap;
      word-wrap: normal;
    }
  }

  &.pq-theme {
    line-height: normal;
    font-family: inherit;
    font-size: $pq-grid-font-size;
  }
}

span {
  &.pq-from-to-center {
    width: 6px;
    position: absolute;
    left: 50%;
    line-height: 20px;
    margin-left: -3px;
    text-align: center;
  }

  &.pq-tooltip-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 4px;
  }
}

.pq-td-border-right > .pq-grid-row > .pq-grid-cell {
  border-right-color: $pq-grid-border-color;
}

// to take the remainig white space when parent has height 100%
.card-100 {
  .pq-grid-in-tab {
    .pq-grid {
      height: calc(100% - 78px) !important; // subtracted entry pad height
    }
  }

  app-pqgrid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .pq-grid {
    height: auto !important;
    flex-grow: 1;
  }

  .pq-grid-center-o,
  .pq-body-outer {
    height: calc(100% - 34px); // subtracted pq footer height
  }

  .pq-grid-center {
    height: 100% !important;
  }

  .pq-body-outer {
    height: calc(100% - 59px) !important;
    overflow-y: auto;
  }

  .pq-cont-right {
    overflow-y: auto !important;
  }
}

// pqgrid table height on modal
.modal {
  .pq-body-outer {
    height: 250px !important;

    > .pq-grid-cont {
      > .pq-cont-right {
        overflow-y: auto !important;
      }
    }
  }
}

//jquery ui theme overwrite

.pq-head-menu .ui-tabs-nav .ui-state-active,
.pq-head-menu .ui-tabs-nav .ui-widget-content .ui-state-active,
.pq-head-menu .ui-tabs-nav .ui-widget-header .ui-state-active {
  background: $pq-grid-header-bg-color;
  border-color: $pq-grid-header-bg-color;
}
