<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'role'"></menu-header-name>

      </div>
      <div>
        <app-buttons (exit)="goToPreviousPage()" [button]="{exit:true}"></app-buttons>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <div id="confirmDeletion"></div>

        <form [formGroup]="formStructure" (ngSubmit)="onSubmit()">
          <div class="form-grid form-grid-inline">
            <div class="form-group span-4">
              <label for="name">{{ "name" | translate }}
                <span class="text-danger">*</span></label>
              <input autocomplete="off" class="form-control" formControlName="name"
                     id="name" type="text"/>
              <span class="error" *ngIf="checkFormControlInvalid('name', formStructure)">
               <i class="ic-error"></i>
                {{ "name" | translate }}
                {{ "isRequired" | translate }}
             </span>
            </div>
            <div class="span-4 form-group">
              <label for="officetypeid">{{'officeType' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="officetypeid" formControlName="officetypeid">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let office of officeTypes" [ngValue]="office['id']">
                  {{ office['officeTypeName'] | englocal : office['officeTypeNameLocal'] }} </option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('officetypeid', formStructure)">
                <i class="ic-error"></i>
                {{ "officeType" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>

            <div class="span-4 form-group">
              <label for="status">{{'status' | translate}}
                <span class="text-danger">*</span></label>
              <select class="custom-select" id="status" formControlName="status">
                <option value="" disabled>{{ "select" | translate}}</option>
                <option *ngFor="let s of status" [ngValue]="s['id']">
                  {{ s['name'] | translate}}</option>
              </select>
              <span class="error" *ngIf="checkFormControlInvalid('status', formStructure)">
                <i class="ic-error"></i>
                {{ "status" | translate }}
                {{ "isRequired" | translate }}
              </span>
            </div>
          </div>
          <div class="text-right mt-2">
          <app-buttons
            (reset)="resetClicked($event)"
            (delete)="deleteClicked($event)"
            [button]="buttonAccess">
          </app-buttons>
        </div>
        </form>


      </div>
    </div>

    <div class="card card-100">
      <app-pqgrid [data]="fetchedData" [columns]="columns"></app-pqgrid>
    </div>
  </div>


