/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main';
@import './assets/scss/custom.scss';

//to hide arrow in type=number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
