<div class="login-wrapper">
  <div class="login-container">
    <div class="login-card">
<!--      <img src="./assets/img/province_4.jpg" alt="NID">-->
      <img [src]="this.currentUser.getCurrentCompany() && this.currentUser.getCurrentCompany()['fullLogo']?
        this.currentUser.getCurrentCompany()['fullLogo']:environment.defaultImagePath"/>
      <h6 class="login-heading text-center mt-2">{{ environment.defaultCompany |  translate}}</h6>
      <div class="card card_rounded p-4 mt-4">
              <form [formGroup]="selectBranchFom" (ngSubmit)="onSubmit()">
          <div *ngIf="noDepartmentMessage" class="alert alert-danger">
            <strong>{{'warning' | translate}}!</strong> {{ noDepartmentMessage}}
          </div>
          <div *ngIf="currentUser.get('branches'); else assignBranchWarning">
            <div class="form-group mb-3">
              <label for="branchId" class="text-navy-40">{{"selectBranchTitle" | translate}}</label>
              <select name="" id="branchId" class="custom-select" formControlName="branchId">
                <option value="" disabled selected>{{"select" | translate}}</option>
                <option *ngFor="let branch of currentUser.get('branches')" [value]="branch['id']">
                  {{ branch['officename'] | englocal: branch['officenamelocal']  }}
                </option>
              </select>

              <span class="error" *ngIf="checkFormControlInvalid('branchId', selectBranchFom)">
                <i class="ic-error"> </i>
                {{ "selectBranchTitle" | translate }}
              </span>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block text-white">
                {{ "selectBranchBtn" | translate }}
              </button>
            </div>
          </div>
          <ng-template #assignBranchWarning>
            <div class="alert alert-danger">
              <strong>{{'warning' | translate}}!</strong> {{'noBranchMessage' | translate}}
            </div>
          </ng-template>
          <div class="text-right mt-2">
            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">
              <i class="ic-arrow-line-left mr-1"></i>{{ "backToLogin" | translate }}
            </a>
          </div>

          <p class="mt-3">
            {{'changeLanguage' | translate}}:
            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"
               (click)="useLanguage('np')">नेपा</a>
            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="container-fluid login-wrapper">-->
<!--  <div class="d-flex h-100 align-items-center justify-content-center">-->
<!--    <div class="row login-box">-->
<!--      <div class="col-lg-5 login-box-left d-none d-lg-block">-->
<!--        <h5 class="font-weight-normal mb-4">{{'welcomeTo'}}</h5>-->
<!--        <h5 class="font-bold login-box-text">-->
<!--          {{ "projectTitle" | translate }}-->
<!--        </h5>-->
<!--      </div>-->
<!--      <div class="col-lg-7 login-box-right">-->

<!--        <form [formGroup]="selectBranchFom" (ngSubmit)="onSubmit()">-->
<!--          <div class="logo-box">-->
<!--            <img [src]="environment.defaultImagePath" [alt]="environment.defaultImagePath" height="76"/>-->
<!--          </div>-->
<!--          <div *ngIf="noDepartmentMessage" class="alert alert-danger">-->
<!--            <strong>{{'warning' | translate}}!</strong> {{ noDepartmentMessage}}-->
<!--          </div>-->
<!--          <div *ngIf="currentUser.get('branches'); else assignBranchWarning">-->
<!--            <div class="form-group mb-3">-->
<!--              <label for="branchId" class="text-navy-40">{{"selectBranchTitle" | translate}}</label>-->
<!--              <select name="" id="branchId" class="custom-select" formControlName="branchId">-->
<!--                <option value="" disabled selected>{{"select" | translate}}</option>-->
<!--                <option *ngFor="let branch of currentUser.get('branches')" [value]="branch['id']">-->
<!--                  {{ branch['branchname'] }}-->
<!--                </option>-->
<!--              </select>-->

<!--              <span class="error" *ngIf="checkFormControlInvalid('branchId', selectBranchFom)">-->
<!--                <i class="ic-error"> </i>-->
<!--                {{ "selectBranchTitle" | translate }}-->
<!--              </span>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--              <button type="submit" class="btn btn-primary btn-block text-white">-->
<!--                {{ "selectBranchBtn" | translate }}-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <ng-template #assignBranchWarning>-->
<!--            <div class="alert alert-danger">-->
<!--              <strong>{{'warning' | translate}}!</strong> {{'noBranch' | translate}}-->
<!--            </div>-->
<!--          </ng-template>-->
<!--          <div class="text-right mt-2">-->
<!--            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">-->
<!--              <i class="ic-arrow-line-left mr-1"></i>{{ "backToLogin" | translate }}-->
<!--            </a>-->
<!--          </div>-->

<!--          <p class="mt-3">-->
<!--            {{'changeLanguage'}}:-->
<!--            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"-->
<!--               (click)="useLanguage('np')">नेपा</a>-->
<!--            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>-->
<!--          </p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
