<div class="modal-alert">
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>

      <i class="{{alertClass}} {{alertClass2}} h1"></i>
      <p class="alert-desc"> {{ body| translate }}</p>
      <form *ngIf="showRemarks" [formGroup]="approvalForm">
        <div class="span-4 form-group">
          <textarea id="remarks" formControlName="remarks" class="form-control mb-3" rows="5"
                    style="width:100%">
          </textarea>
          <span class="error" *ngIf="checkFormControlInvalid('remarks')">
                  <i class="ic-error"> </i>
            {{ "description" | translate }}
            {{ "isRequired" | translate }}
          </span>
        </div>
      </form>
      <div>
        <button (click)="cancelBtnClick()" class="btn btn-outline outline-hover-blue"
                id="cancelBtn">{{"Cancel"| translate}}
        </button>
        <button (click)="confirmBtnClick()" class="btn {{btnClass}} ml-2" id="confirmBtn"> {{buttonName}}</button>
      </div>
    </div>
  </div>
</div>

