<div class="inner">
  <div class="container">
    <div class="heading">
      <div>
        <menu-header-name [heading]="'user'"></menu-header-name>

      </div>
      <div>
        <app-buttons (exit)="goToPreviousPage()" (create)="redirectToCreate()"
                     [button]="{create:true,exit:true}"></app-buttons>

      </div>

    </div>

    <div class="card card-100">
      <app-pqgrid [data]="fetchedData" [columns]="columns"
                  [pagination]="true"
                  [remoteUrl]="remoteUrl" [remotePaging]="true"></app-pqgrid>
    </div>
  </div>


