
<div class="login-wrapper">
  <div class="login-container">
    <div class="login-card">
<!--      <img src="./assets/img/province_4.jpg" alt="NID">-->
      <img [src]="this.currentUser.getCurrentCompany() && this.currentUser.getCurrentCompany()['fullLogo']?
        this.currentUser.getCurrentCompany()['fullLogo']:environment.defaultImagePath"/>
      <h6 class="login-heading text-center mt-2">{{ environment.defaultCompany |  translate}}</h6>
      <div class="card card_rounded p-4 mt-4">
        <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-warning" role="alert">
            <b>{{'note' | translate}}:</b>
            {{'passwordPattern' | translate}}
          </div>
          <div class="form-group">
            <label for="password" class="text-navy-40">{{"newPwd" | translate}}</label>
            <input id="password" type="password" class="form-control" name="username" formControlName="password"
                   placeholder="{{ 'newPwd' | translate }}" value=""/>
            <span class="error" *ngIf="f.password.touched && f.password.errors?.required">
              <i class="ic-error"> </i>
              {{ "newPwd" | translate }}
            </span>

            <span class="error" *ngIf="f.password.touched && f.password.errors?.pattern">
              <i class="ic-error"> </i>
              {{'passwordPatternValidation' | translate}}
            </span>
          </div>

          <div class="form-group">
            <label for="retypePwd" class="text-navy-40">{{"retypePwd" | translate}}</label>
            <input id="retypePwd" type="password" class="form-control" name="username" formControlName="confirmPassword"
                   placeholder="{{ 'retypePwd' | translate }}" value=""/>
            <span class="error" *ngIf="checkFormControlInvalid('confirmPassword', setPasswordForm)">
              <i class="ic-error"> </i>
              {{ "retypePwd" | translate }}
            </span>


            <!-- pwdMismatch -->
            <span class="error" *ngIf="pwdMismatch">
              <i class="ic-error"> </i>
              {{ "pwdMismatch" | translate }}
            </span>
          </div>

          <div class="from-group">
            <button type="submit" class="btn btn-primary btn-block text-white">
              {{ "changePwd" | translate }}
            </button>
          </div>
          <div class="text-right mt-2">
            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">
              {{ "backToLogin" | translate }}<i class="ic-arrow-line-right ml-2"></i>
            </a>
          </div>

          <p class="mt-3">
            {{'changeLanguage' | translate}} :
            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"
               (click)="useLanguage('np')">नेपा</a>
            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


<!--<div class="container-fluid login-wrapper">-->
<!--  <div class="d-flex h-100 align-items-center justify-content-center">-->
<!--    <div class="row login-box">-->
<!--      <div class="col-lg-5 login-box-left d-none d-lg-block">-->
<!--        <h6 class="font-bold mb-2">{{'welcomeTo'}}</h6>-->
<!--        <h6 class="font-weight-normal mb-2">-->
<!--          {{ "projectTitle" | translate }}-->
<!--        </h6>-->
<!--      </div>-->

<!--      <div class="col-lg-7 login-box-right">-->

<!--        <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">-->
<!--          <div class="logo-box">-->
<!--            <img [src]="environment.defaultImagePath" [alt]="environment.defaultImagePath" height="76"/>-->

<!--          </div>-->
<!--          <div class="alert alert-warning" role="alert">-->
<!--            <b>{{'note' | translate}}:</b>-->
<!--            {{'passwordPattern' | translate}}-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="password" class="text-navy-40">{{"newPwd" | translate}}</label>-->
<!--            <input id="password" type="password" class="form-control" name="username" formControlName="password"-->
<!--                   placeholder="{{ 'newPwd' | translate }}" value=""/>-->
<!--            <span class="error" *ngIf="f.password.touched && f.password.errors?.required">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "newPwd" | translate }}-->
<!--            </span>-->

<!--            <span class="error" *ngIf="f.password.touched && f.password.errors?.pattern">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{'passwordPatternValidation' | translate}}-->
<!--            </span>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <label for="retypePwd" class="text-navy-40">{{"retypePwd" | translate}}</label>-->
<!--            <input id="retypePwd" type="password" class="form-control" name="username" formControlName="confirmPassword"-->
<!--                   placeholder="{{ 'retypePwd' | translate }}" value=""/>-->
<!--            <span class="error" *ngIf="checkFormControlInvalid('confirmPassword', setPasswordForm)">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "retypePwd" | translate }}-->
<!--            </span>-->


<!--            &lt;!&ndash; pwdMismatch &ndash;&gt;-->
<!--            <span class="error" *ngIf="pwdMismatch">-->
<!--              <i class="ic-error"> </i>-->
<!--              {{ "pwdMismatch" | translate }}-->
<!--            </span>-->
<!--          </div>-->

<!--          <div class="from-group">-->
<!--            <button type="submit" class="btn btn-primary btn-block text-white">-->
<!--              {{ "changePwd" | translate }}-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="text-right mt-2">-->
<!--            <a class="small text-primary font-bold" [routerLink]="['/auth/login']" href="javascript:void(0)">-->
<!--              {{ "Back to login" | translate }}<i class="ic-arrow-line-right ml-2"></i>-->
<!--            </a>-->
<!--          </div>-->

<!--          <p class="mt-3">-->
<!--            {{'changeLanguage' | translate}} :-->
<!--            <a *ngIf="translate.currentLang == 'en'" class="btn p-0 text-primary des"-->
<!--               (click)="useLanguage('np')">नेपा</a>-->
<!--            <a *ngIf="translate.currentLang == 'np'" class="btn p-0 text-primary des" (click)="useLanguage('en')">EN</a>-->
<!--          </p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
